<p class="timeline-item">
  <span class="timeline-label">1929</span>
  <span class="timeline-text">
    Born in Dafundo, Lisbon, Portugal.
  </span>
</p>

<p class="timeline-item">
  <span class="timeline-label">1940-1941</span>
  <span class="timeline-text">
    Studies at the Escola Industrial Marquês de Pombal under painter <a href="/authors/Calvet de Magalhães" class="deet-link author">Calvet de Magalhães</a> and architect Frederico George. Financial difficulties force him to abandon.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1945</span>
  <span class="timeline-text">
    Starts working at Atelier de Publicidade Artística (APA).
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1948</span>
  <span class="timeline-text">
    Starts working at the studio of Manuel Rodrigues.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1959</span>
  <span class="timeline-text">
    Travels through northern Portugal for six months with a grant from <a href="/publishers/Fundação Calouste Gulbenkian" class="deet-link publisher">Fundação Calouste Gulbenkian</a>, researching vernacular graphic materials.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1959-1961</span>
  <span class="timeline-text">
    Art-direction of <a href="/tags/Almanaque" class="deet-link tag">Almanaque</a> magazine.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1991</span>
  <span class="timeline-text">
    ICOGRADA’s Award of Excellence.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1995</span>
  <span class="timeline-text">
    «Sebastião Rodrigues: Designer», career retrospective exhibition at Fundação Calouste Gulbenkian.
  </span>
</p>