<p class="timeline-item">
  <span class="timeline-label">1929</span>
  <span class="timeline-text">
    Born in Dafundo, Lisbon, Portugal.
  </span>
</p>

<p class="timeline-item">
  <span class="timeline-label">1940-1941</span>
  <span class="timeline-text">
    Studies at the Escola Industrial Marquês de Pombal under painter Calvet de Magalhães and architect Frederico George. Financial difficulties force him to abandon his studies.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1945</span>
  <span class="timeline-text">
    Starts working at Atelier de Publicidade Artística (APA).
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1948</span>
  <span class="timeline-text">
    Starts working at the studio of Manuel Rodrigues.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1959</span>
  <span class="timeline-text">
    Travels through northern Portugal for six months with a grant from Fundação Calouste Gulbenkian, researching vernacular graphic materials.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1959-1961</span>
  <span class="timeline-text">
    Art-direction of Almanaque magazine.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1991</span>
  <span class="timeline-text">
    ICOGRADA’s Award of Excellence.
  </span>
</p> 

<p class="timeline-item">
  <span class="timeline-label">1995</span>
  <span class="timeline-text">
    «Sebastião Rodrigues: Designer», career retrospective exhibition at Fundação Calouste Gulbenkian.
  </span>
</p>