---
permalink: /404.html
---

{% include headers/header.html %}

<div class="container container-reg">

  <div class="row about">

    <div class="col-12">

      <img src="/images/non-art/sol-404.jpg" style="margin-top: 120px; margin-bottom: 30px;" alt="404">

    </div>

    <div class="col-12">

      <section class="more-info-text">
        <p class="para-text">
          <strong>Page not found :/</strong> The requested page could not be found.
        </p>
        </section>

    </div>

  </div>

</div>

{% include footer.html %}
{% include the-end.html %}
