---
layout: default
title: rsda | authors
---

   <div class="container-fluid container-browse" style="background-color: black;">

    <div class="row no-gutters">

        <div class="col-12">

            <h3 class="section-title">Artifacts</h3>

        </div>

            {% for artifact in site.artifacts %}

              <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <a class="a-module grid" href="{{ artifact.url }}">
                  <div class="a-module-img-holder">
                      <img class="grid-img" src="/images/{{ artifact.ref }}-{{ artifact.slug }}-thumbnail.jpg" alt="{{ artifact.title }}">
                  </div>
                </a>
              </div>
            {% endfor %}
    </div>
</div>

<div class="artifacts-bottom-sub-header-bg">

  {% include sub-header.html %}

</div>
