---
layout: default-artifacts-2
title: rsda | authors
---

   <div class="container-fluid container-artifacts">

{% include artifacts-filters-2.html %}

    <div id="artifacts-grid-row" class="row no-gutters">

            {% for artifact in site.artifacts %}

              <div class="artifact-grid-col col-12 col-md-6 col-lg-2 col-xl-1 {{ artifact.formats | join: " " }} {{ artifact.disciplines | join: " " }} {{ artifact.year }} {{ artifact.origin | join: " " }}">
                <h2 class="ghost-info">{{ artifact.title }}</h2>
                <p class="ghost-info">{{ artifact.author_name | join: " " }}</p>
                <a class="a-module grid" href="{{ artifact.url }}">
                  <div class="a-module-img-holder mason">
                      <img class="grid-img" src="/images/tiles/{{ artifact.ref }}-{{ artifact.slug }}-tile.jpg" alt="{{ artifact.title }}">
                  </div>
                </a>
              </div>
            {% endfor %}
    </div>
</div>

<div class="artifacts-bottom-sub-header-bg">

</div>
