---
title: "Formats"
---

{% include header-artifact.html %}

<div class="formats holder">

    <div class="container container-allcats">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Formats</h3>

        </div>

        <div class="col-12">

        {% for format in site.formats %}
        {% assign filtered_artifacts = site.artifacts | where: 'formats', format.name %}

            <h2 class="title allcat page formats capitalize">
              <a class="browse-link format" href="{{ format.url }}">{{ format.name | replace: "-", " " }}</a>
              <span class="cat-count">{{ filtered_artifacts.size }}</span>
            </h2>

        {% endfor %}
        </div>
    </div>
</div>

</div>

{% include footer-cats.html %}
