---
title: "Sol Design Archive - Home"
description: "Sol Design Archive is an online archive of design with a focus on 20th century Portuguese graphic design
and illustration but a voracious appetite for the full breadth of visual expression."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %} {% include index-artifacts.html %} {% include index-about.html %} {% include
latest-index.html %} {% include blog-section.html %} {% include shorts-section.html %} {% include random-feature.html
%}

<div class="container-outer disciplines">
  <div class="container-md container-allcats">
    <div class="row datum-section none">
      <div class="col-12 col-md-2 datum-left-col">
        <div class="left-col-fixed">
          <h3 class="section-title allcats text-center">Disciplines</h3>
        </div>
      </div>
      <div class="col-12 col-md-8 datum-right-col allcats-big-short row">
        {% for discipline in site.disciplines %}
        {% assign filtered_artifacts = pub_artifacts | where: 'disciplines', discipline.name %}
        <div
          class="col-12 allcat big {% if forloop.first == true %}first{% endif %} text-wrap text-center text-md-start">
          <a class="title allcat-item discipline capitalize text-wrap" href="{{ discipline.url }}"><span
              class="cat-count discipline fake d-md-none">[{{ filtered_artifacts.size }}]</span>{{ discipline.name |
            remove_first: " " | replace: "-", " " }}<span class="cat-count discipline">[{{ filtered_artifacts.size
              }}]</span></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-outer formats">
  <div class="container-md container-allcats">
    <div class="row datum-section none">
      <div class="col-12 col-md-2 datum-left-col">
        <div class="left-col-fixed">
          <h3 class="section-title allcats text-center">Formats</h3>
        </div>
      </div>
      <div class="col-12 col-md-8 datum-right-col allcats-big-short row">
        {% for format in site.formats %}
        {% assign filtered_artifacts = pub_artifacts | where: 'formats', format.name %}
        {% unless filtered_artifacts.size == 0 %}
        <div
          class="col-12 allcat big {% if forloop.first == true %}first{% endif %} text-wrap text-center text-md-start">
          <a class="title allcat-item format capitalize text-wrap" href="{{ format.url }}"><span
              class="cat-count format fake d-md-none">[{{ filtered_artifacts.size }}]</span>{{ format.name |
            remove_first: " " | replace: "-", " " }}<span class="cat-count format">[{{ filtered_artifacts.size
              }}]</span></a>
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/js/isotope.pkgd.min.js"></script>

{% include scripts/scripts-index.html %} {% include footer.html %} {% include the-end.html %}
