---
title: "Sol Design Archive"
---

{% include header-artifact.html %}

<div class="container-artifact-hero-index container-first-after-header">
<div class="fake-container">

</div>


<div class="row no-gutters" style="background-color: black;">

{% assign sampled_artifacts = site.artifacts | sample: 12  %}
{% for artifact in sampled_artifacts %}
<div class="col-6 col-md-4 col-lg-3">
    <a href="{{ artifact.url }}">

        <img class="grid-img-2" src="/images/{{ artifact.ref }}-{{ artifact.slug }}-thumbnail.jpg" alt="{{ artifact.title }}">

    </a>
</div>
{% endfor %}

</div>

</div>

{% include ticker.html %}

    <div class="container-fluid about">

      <div class="container">

        <div class="row">

          <div class="col-12 col-lg-9"">
                <h3 class="section-title">About</h3>
                <section>{% include about-sol.md %}</section>
          </div>

        </div>

      </div>

    </div>







{% include blog-section.html %}

{% include latest-artifacts.html %}

{% include shorts-section.html %}

<div class="container-sections-index">
    <div class="row no-gutters">

      <div class="col-12 col-disciplines-index">

          <div class="section-index-container">

              <h3 class="section-title">Disciplines</h3>
              <br>

              {% for discipline in site.disciplines %}

              <h2 class="title allcat"><a class="browse-link index discipline" href="{{ discipline.url }}">{{ discipline.name }}</a></h2>

              {% endfor %}

          </div>


      </div>

        <div class="col-12 col-md-6 col-authors-index">

            <div class="section-index-container">

                <h3 class="section-title">Authors</h3>
                <br>

                {% for author in site.authors %}

                <h2 class="title allcat"><a class="browse-link index" href="{{ author.url }}">{{ author.name }}</a></h2>

                {% endfor %}

            </div>

        </div>

        <div class="col-12 col-md-6 col-publishers-index">

            <div class="section-index-container">

                <h3 class="section-title">Publishers/Clients</h3>
                <br>

                {% for publisher in site.publishers %}

                <h2 class="title allcat"><a class="browse-link index" href="{{ publisher.url }}">{{ publisher.name }}</a></h2>

                {% endfor %}

            </div>

        </div>

        <div class="col-12 col-formats-index">

            <div class="section-index-container">

                <h3 class="section-title">Formats</h3>
                <br>

                {% for format in site.formats %}

                <h2 class="title allcat"><a class="browse-link index format" href="{{ format.url }}">{{ format.name }}</a></h2>

                {% endfor %}

            </div>
        </div>


        <div class="col-12 col-md-6 col-years-index">

            <div class="section-index-container">

                <h3 class="section-title">Years</h3>
                <br>

                {% for year in site.years %}

                <h2 class="title allcat"><a class="browse-link index" href="{{ year.url }}">{{ year.title }}</a></h2>

                {% endfor %}

            </div>

        </div>

        <div class="col-12 col-md-6 col-origins-index">

            <div class="section-index-container">

                <h3 class="section-title">Origins</h3>
                <br>

                {% for origin in site.origins %}

                <h2 class="title allcat"><a class="browse-link index" href="{{ origin.url }}">{{ origin.name }}</a></h2>

                {% endfor %}

            </div>

        </div>

        <div class="col-12 col-tags-index">

            <div class="section-index-container">

                <h3 class="section-title">Tags</h3>
                <br>

                {% for tag in site.tags %}

                <h2 class="title allcat tags"><a class="browse-link index tag" href="{{ tag.url }}">{{ tag.name }}</a></h2>

                {% endfor %}

            </div>

        </div>

    </div>
</div>

{% include latest-resources.html %}

{% include footer.html %}
