---
title: "Sol Design Archive - Home"
description: "Sol Design Archive is an online archive of design with a focus on 20th century Portuguese graphic design
and illustration but a voracious appetite for the full breadth of visual expression."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %} {% include index-artefacts.html %} {% include index-about.html %} {% include
latest-index.html %} {% include blog-section.html %} {% include shorts-section.html %} {% include random-feature.html %}
{% include footer.html %} {% include scripts/scripts-index.html %} {% include the-end.html %}
