---
title: "Origins"
---

{% include header-artifact.html %}

<div class="origins holder">

    <div class="container container-allcats">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Origins</h3>

        </div>

        <div class="col-12">

        {% for origin in site.origins %}
        {% assign filtered_artifacts = site.artifacts | where: 'origin', origin.name %}

            <h2 class="title allcat page capitalize">
              <a class="browse-link origin" href="{{ origin.url }}">{{ origin.name | replace: "-", " " }}</a>
              <span class="cat-count">{{ filtered_artifacts.size }}</span>
            </h2>

        {% endfor %}
        </div>
    </div>
</div>

</div>

{% include footer-cats.html %}
