---
title: "Publishers"
---

{% include header-artifact.html %}

<div class="publishers holder">

    <div class="container container-browse">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Publishers</h3>

        </div>

        <div class="col-12">

          <p><input type="text" class="quicksearch cats" placeholder="Search" /></p>

        </div>

        <div class="col-12" id="isotope-container">

        {% for publisher in site.publishers %}
        {% assign filtered_artifacts = site.artifacts | where: 'publisher', publisher.name %}

            <h2 class="title allcat isotope-element">
              <a class="browse-link publisher" href="{{ publisher.url }}">{{ publisher.name }}</a>
              <span class="cat-count">{{ filtered_artifacts.size }}</span>
            </h2>

        {% endfor %}
        </div>
    </div>
</div>

</div>

{% include footer-cats.html %}
