---
---

@charset "UTF-8";

/* CSS Document */

/* Colors */

$artifact-color: #e16640;
$author-color: #f2b34b;
$format-color: #d8709c;
$discipline-color: #3dc18e;
$origin-color: #4f9dd3;
$tag-color: #995488;
$year-color: #93a64e;
$publisher-color: #2eb5b0;
$resource-color: #c47900;
$blog-color: #ff7225;
$bg-white: #f7f7f7;
$off-1: #ebe4dd;
$off-2: #f7f1e9;
$off-3: #ebded3;
$off-4: #d9c5b6;
$gray: #ccc5c0;

$sol-gradient: linear-gradient(-45deg, #c47900, #e16640, #f2b34b, #93a64e, #2eb5b0, #4f9dd3, #d8709c, #995488, #c47900);

$header-height-sm: 148px;
$header-height-md: 152px;
$header-height-lg: 90px;
$header-height-xl: 110px;

/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Fonts */

@font-face {
  font-family: 'Mori Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Mori Gothic'), url("/fonts/MoriGothic-Normal.woff2") format('woff2');
}

@font-face {
  font-family: 'Mori Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Mori Gothic'), url("/fonts/MoriGothic-Normal.woff2") format('woff2');
}

@font-face {
  font-family: "Tiempos-Text-Regular";
  src: url("/fonts/tiempos-text-regular.woff2") format("opentype");
}

@font-face {
  font-family: "Tiempos-Text-RegularItalic";
  src: url("/fonts/tiempos-text-regular-italic.woff2") format("opentype");
}

@font-face {
  font-family: "Tiempos-Text-Semibold";
  src: url("/fonts/tiempos-text-semibold.woff2") format("opentype");
}

@font-face {
  font-family: "Tiempos-Text-SemiboldItalic";
  src: url("/fonts/tiempos-text-semibold-italic.woff2") format("opentype");
}

/* General */

body {
  font-family: "Tiempos-Text-Regular", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-variant-numeric: oldstyle-nums;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: black;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

/* General Typography */

.hero-about-text blockquote,
.post-text blockquote,
.hero-about-text p,
.post-text p,
.text,
section.abouts {
  font-family: "Tiempos-Text-Regular", serif;
  letter-spacing: normal;
  font-style: normal;
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "onum";
  font-variant-ligatures: common-ligatures;
}

.post-text a,
a.text.cat-link,
a.text.reg-link,
a.caption.cat-link {
  font-family: "Tiempos-Text-Semibold", serif;
  text-decoration: none;
}

.body-type-test-source {
  font-family: source-serif-4, serif;
  letter-spacing: normal;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  font-size: 17px;
  font-feature-settings: "onum";
}

.post-text blockquote, {
.post-text blockquote {
  font-size: 0.8em;
  margin-left: 45px;
  width: 75%;
}

.capitalize {
  text-transform: capitalize;
}

p.about-sol {
  font-family: "Tiempos-Text-Regular", serif;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

.about-row {
  color: $bg-white;
  margin-top: 60px;
  margin-bottom: 60px;
}

.artifact-count,
.cat-count,
.artifact-deets,
.artifacts-table,
.cat-label,
.header-text,
.para-text,
.footer-link,
.page-title-label, 
.prev-next-label,
h3.filter-title {
  font-family: "indivisible-variable", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.artifact-count {
  margin-left: 2px;
  font-size: 12px;
  font-weight: 400;
}

.cat-count {
  font-weight: 400;
  font-size: 0.6rem;
  vertical-align: 120%;
  margin-left: -4px;
}

.post-meta,
.post-text figcaption,
.caption {
  font-family: "indivisible-variable", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 12px;
  line-height: 1.5;
}

section.about {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 45px;
}

/* Random Stuff (arrumar) */

.wip-card {
  background-color: $bg-white;
  max-width: 70%;
}

.wip-badge {
  font-family: "indivisible-variable", sans-serif;
  font-variation-settings: "wght" 350;
  font-size: 13px;
  font-weight: normal;
  background-color: black;
  padding: 7px 6px 5px;
  margin-top: 15px;
  margin-left: -1px;
}

.wip-card .card-body {
  padding: 10px;
}

.card-body p.para-text {
  margin-bottom: 0;
  max-width: 80%;
}

.caption.a-multi {
  color: white;
}


.hero-about-text {
  margin-bottom: 60px;
}

.more-info-text {
  margin-top: 30px;
}

.artifact-deets-col {
  margin-top: 30px;
}




/* Header */

.container-header {
  padding-bottom: 0;
  color: black;
  z-index: 100;
  overflow: hidden;
}

.container-fluid.sub-header {
  background-color: $bg-white;
}

.header-row {
  margin-right: -15px;
  background-color: $off-1;
}

.title-col {
  position: relative;
  padding-top: 15px;
  padding-bottom: 8px;
}

.header-logo {
  max-height: 100px;
  filter: invert(0);
  margin-bottom: 10px;
}

h1.site-title {
  font-family: trade-gothic-next-compressed, serif;
  font-size: 40px;
  letter-spacing: normal;
  font-weight: 700;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 4px;
}

h1.site-title a {
  text-decoration: none;
}

h1.site-title a:hover {
  display: inline;
  color: black;
}

.sol-circle {
  display: inline;
}

.sol-circle svg {
  width: 40px;
  fill: $artifact-color;
  animation: color-to-color 15s ease-in-out infinite;

}

@keyframes color-to-color {
  12% {
    fill: $resource-color;
  }

  25% {
    fill: $artifact-color;
  }

  37% {
    fill: $author-color;
  }

  50% {
    fill: $year-color;
  }

  62% {
    fill: $publisher-color;
  }

  75% {
    fill: $origin-color;
  }

  87% {
    fill: $format-color;
  }

  100% {
    fill: $tag-color;
  }
}

@keyframes gradient {
  0% {
    background-position: -0% 0;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.author-title-col {
  background-color: $off-3;
  height: 200px;
  --mask: linear-gradient(#000 0 0) center/calc(100% - 25.50px) calc(100% - 25.50px) no-repeat, radial-gradient(farthest-side,#000 98%,#0000) 0 0/30px 30px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* Sub Header(s) (Navigation) */

#sub-header-0-id {
  background: $artifact-color;
  transition: 0.3s;
  animation: smile-hue 10s infinite linear;
}

.collapse {
  transition: 0.3s;
}

.sub-header-col {
  position: relative;
  height: 40px;
}

.sub-header {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;

}

.artifacts-sub2-header-col,
.sub-header-col {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.artifacts-bottom-sub-header-bg {
  background-color: black;
}

.col-home {
  background-color: black;
}

.col-artifacts {
  background-color: $artifact-color;
}

.col-authors {
  background-color: $author-color;
}

.col-years {
  background-color: $year-color;
}

.col-formats {
  background-color: $format-color;
}

.col-tags {
  background-color: $tag-color;
}

.col-origins {
  background-color: $origin-color;
}

.col-publishers {
  background-color: $publisher-color;
}

.col-disciplines {
  background-color: $discipline-color;
}

.col-resources {
  background-color: $resource-color;
}

.sub-header-link {
  width: auto;
  text-align: center;
  transition: 0.2s;
  text-decoration: none;

}

.artifacts-nav-link,
.sub-header-link {
  font-family: "maple-web", sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $bg-white;
  line-height: 41px;
}


.sub-header-link:hover {
  color: black;
  text-decoration: none;

}

.artifacts-sub2-header-col.black {
  background-color: black;
}

.artifacts-sub2-header-col.white {
  background-color: $bg-white;
}

.artifacts-sub2-header-col.white a.artifacts-nav-link {
  color: black;
}

.artifacts-sub2-header-col.white a.artifacts-nav-link:hover {
  color: $artifact-color;
}

.artifacts-sub2-header-col.black a.artifacts-nav-link:hover {
  color: $artifact-color;
}

.artifacts-nav {
  background-color: $artifact-color;
}

.artifacts-nav .row {
  height: 75px;
  background-color: $artifact-color;

}

/* ticker */

.ticker {
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
}

.ticker-wrapper {
  overflow: hidden;
  background-color: $off-2;
}

.ticker-move {
  display: flex;

  animation: tickermovement linear 14s infinite;
}

.ticker-move:hover {
  animation-play-state: paused;
}

.ticker-element {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

@keyframes tickermovement {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

h3.ticker-section {
  font-family: "maple-web", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-right: 8px;
  display: inline-block;
}

h3.ticker-title {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 0;
  margin-right: 8px;
  display: inline-block;
}

/* Footer */

.footer-row {
  margin-top: 15px;
}

.footer-text {
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 9px;
  margin-top: 30px;
}

.post-text strong,
.faq-text strong,
.footer-text strong,
p.about-sol strong {
  font-family: "Tiempos-Text-Semibold";
  font-weight: normal;
}

.footer-link {
  font-variation-settings: "wght" 800;  
  font-size: 13px;
  line-height: 1.2;
}

.footer-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-link.artifacts {
  color: $artifact-color;
}

.footer-link.authors {
  color: $author-color;
}

.footer-link.origins {
  color: $origin-color;
}

.footer-link.publishers {
  color: $publisher-color;
}

.footer-link.disciplines {
  color: $discipline-color;
}

.footer-link.years {
  color: $year-color;
}

.footer-link.formats {
  color: $format-color;
}

.footer-link.tags {
  color: $tag-color;
}

.footer-link.resources {
  color: $resource-color;
}

.footer-quote-row {
  text-align: center;
  color: $bg-white;
  background-color: black;
}

.footer-quote {
  font-family: "Tiempos-Text-Semibold";
  font-size: 22px;
  line-height: 1.4;
  margin-top: 100px;
}

.footer-quote-byline {
  font-family: "Tiempos-Text-Regular";
  font-size: 16px;
  margin-bottom: 90px;
}

.footer-logos {
  text-align: center;
  margin-bottom: 90px;
  filter: invert(1);
}

.menu-link-container {
  font-size: 42px;
  font-weight: 600;
  text-align: right;
}

.menu-link {
  color: $artifact-color;
  display: block;
  line-height: 1;
  transition: 0.3s;
  animation: colors 6s infinite step-end;
  width: 24px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-link:hover {
  color: $bg-white;
  text-decoration: none;
  transform: rotate(90deg);
  transform-origin: center center;
  animation: none;
  animation-play-state: paused;
}

/* Containers */

.container-main {
  margin-top: 15px;
}

.container-reg {
  margin-top: 60px;
}

.container-artifacts {
  min-height: 80vh;
  padding-top: 15px;
  background-color: $artifact-color;
}

.container-fluid.after-sub-header {
  background-color: black;
  height: 30px;
}

.container-fluid.about {
  padding-bottom: 60px;
  margin-bottom: 0;
  background-color: $off-3;
}

.container-artifact-hero-index {
  background-color: black;
  padding: 30px;
  margin-top: 0;
}

.container-blog-index {
  padding-bottom: 60px;
  background-color: $off-2;
}

.container-blog-index,
.container-fluid.about,
.latest-artifacts-container,
.latest-resources-container {
  padding-top: 60px;
}

.latest-artifacts-container,
.latest-resources-container {
  padding-bottom: 60px;
}

.container-sections-index {
  overflow-x: hidden;
}

.container-cat,
.container.post-head,
.container.blog {
  padding-top: 30px;
}

.container-artifact,
.container-artifact-text {
  padding-top: 15px;
}

.container-artifact-img {
  background-color: black;
  text-align: center;
}

.container-artifact-img.multi {
  margin-bottom: 0;
}

.container.post,
.container.page {
  margin-bottom: 60px;
}

.container-allcats {
  padding-top: 30px;
  padding-bottom: 90px;
  min-height: 90vh;
}

.container-footer {
  background-color: $off-1;
  color: black;
  padding-top: 10px;
}

/* Holders */

.authors.holder {
  background-color: $author-color;
}

.artifacts.holder {
  background-color: $artifact-color;
}

.origins.holder {
  background-color: $origin-color;
}

.years.holder {
  background-color: $year-color;
}

.tags.holder {
  background-color: $tag-color;
}

.formats.holder {
  background-color: $format-color;
}

.disciplines.holder {
  background-color: $discipline-color;
}

.publishers.holder {
  background-color: $publisher-color;
}

.resources.holder {
  background-color: $resource-color;
}

a {
  color: black;
}

/* H2 Titles & Links + Variations */

h2.title {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 1.2;
  padding-top: 12px;
  margin-right: 15px;
  font-family: tgn-soft-round-con;
  font-weight: 800;
  letter-spacing: normal;
}

h2.title.self {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: normal;
  padding-top: 0;
  margin-bottom: 20px;
}

h2.title.allcat {
  display: inline;
  font-family: tgn-soft-round-con, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
  margin-right: 8px;
  padding-top: 0;
}

h2.title.allcat.page {
  display: inline-block;
}


h2.title.allcat.tags,
h2.title.allcat.index.authors,
h2.title.allcat.index.publishers {
  font-size: 16px;
  line-height: 1.4;
}

h2.title.allcat:hover {
  border-bottom: none;
}

h2.title.allcat.resources {
  max-width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2.title.resource.inmodule {
  font-family: tgn-soft-round-con, sans-serif;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-right: 0;
}

h2.title.blog {
  font-family: tgn-soft-round-comp;
  font-weight: 800;
  font-size: 48px;
}

h2.title.blog.self {
  font-size: 32px;
  margin-bottom: 30px;
}

h2.title.blog.preview {
  font-size: 28px;
  line-height: 1.3;
  display: inline-block;
  padding-top: 0;
  margin-right: 0;
}

h2.title.short.preview {
  font-size: 24px;
  line-height: 1.5;
  display: inline-block;
  padding-top: 0;
  margin-right: 0;
}

.a-module h2.title {
  font-family: tgn-soft-round-comp, sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.2;
  display: inline-block;
  width: 98%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0px;

}

.a-module.sm h2.title {
  font-size: 24px;
}

h2.title-table {
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  padding-top: 0;
  margin-right: 0;
}

h2.title.about {
  font-family: "Tiempos-Text-Semibold", serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}


/* H3 & Section Titles */

h3.nav-link-title,
h3.section-title {
  font-family: maple-web, sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

h3.nav-link-title,
h3.section-title {
  padding-bottom: 0;
  margin-bottom: 1rem;
}

h3.filter-title {
  font-variation-settings: "wght" 800;
  font-size: 12px;
  line-height: 1;
  color: $bg-white;
  padding-top: 15px;
  padding-bottom: 8px;
}

.filter-title .title-label {
  font-variation-settings: "wght" 450;
}

h3.a-section-title {
  font-family: maple-web, sans-serif;
}

a.cta {
  color: $bg-white;
  background-color: $artifact-color;
  font-family: "indivisible-variable", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: 30px;
}

a.cta:hover {
  color: $bg-white;
  background-color: black;
}

/* >> Sun Titles */

.title.deets.sun {
  margin-top: -14px;
}

.title.faq.sun::before {
  font-size: 30px;
  position: relative;
  top: 0;
  right: 8px;
}

h3.ticker-section.sun::before {
  font-size: 30px;
  position: relative;
  top: 4px;
  right: 8px;
  line-height: 5px;
}

h3.ticker-section.sun.artifacts::before {
  color: $artifact-color;
}

h3.ticker-section.sun.tags::before {
  color: $tag-color;
}

h3.ticker-section.sun.blog::before {
  color: $blog-color;
}

h3.ticker-section.sun.resources::before {
  color: $resource-color;
}

.title.faq.sun {
  margin-bottom: 15px;
  margin-left: -20px;
}

.artifacts-nav-link.sun {
  margin-left: 0;
}

.section-index-container h3.section-title {
  margin-left: 0;
}

.section-index-container h3.section-title::before {
  content: none;
}

h3.nav-link-title a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid;
}

/* Resources */

.author-resources {
  padding-bottom: 75px;
}

i.bi-images.a-module-corner-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
  color: $bg-white;
  z-index: 1000;
}

.resource-module {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}

.resource-icon {
  display: inline;
  font-size: 15px;
  padding-top: 14px;
}

.resource-info {
  max-width: 80%;
}

.resource-description {
  font-size: 14px;
  line-height: 1.5;
}

/* Browse Links */

.browse-link {

  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  height: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.browse-link:hover {
  color: $bg-white;
  text-decoration: none;
}

.browse-link.tag,
.browse-link.type {
  text-transform: capitalize;
}

/* ARTIFACTS */

.artifacts-grid {
  background-color: black;
}

#artifacts-grid-row {
  padding-top: 15px;
  background-color: black;
  min-height: 80vh;
  padding-bottom: 120px;
}

/* Filters & Search */

#artifacts-filters, #artifacts-search {
  font-family: "indivisible-variable", sans-serif;
  font-variation-settings: "wght" 450;
  padding: 15px;
  background-color: $artifact-color;
  border-top: none;
}

#artifacts-filters {
  padding-bottom: 15px;
}

.a-filter-label, .a-filter {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  color: $bg-white;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 7px;
  border-style: none;
  border: 1px solid $bg-white;
  border-radius: 25px;


  &:hover {
    background-color: $bg-white;
    color: $artifact-color;
  }

}

.a-filter-label.decade {
  text-transform: none;
}

.btn-check.filter:checked + .a-filter-label {
  background-color: black;
  color: $bg-white;
  border-color: $artifact-color;
}

/* Search */

input.quicksearch.artifacts,
input.quicksearch.cats {
  font-family: tgn-soft-round-con;
  font-size: 20px;
  font-weight: 700;
  color: $bg-white;
  border: 1px solid $bg-white;
  border-radius: 8px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 12px;
  background-color: transparent;
  width: 100%;
}

input.quicksearch.cats {
  margin-top: 30px;
  margin-bottom: 15px;
}

input.quicksearch.artifacts::placeholder,
input.quicksearch.cats::placeholder {
  color: $bg-white;
}

input:focus {
    outline: none !important;
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.ghost-info {
  display: none;
  opacity: 0;
}

/* Filters & Search Nav */

.filter-search-nav {
  background-color: $artifact-color;
  color: $bg-white;
  margin-top: 45px;
}

.filter-search-current, .filter-search-other {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;

}

.filter-search-title, .filter-search-title a {
  font-size: 16px;
  color: $artifact-color;
  margin-bottom: 0px;
}

.filter-search-current {
  border-bottom: none;
  background-color: black;
}

.filter-search-other {
  border-bottom: none;
  background-color: $bg-white;
}

.second-col-fix {
  margin-left: -1px;
}

/* ARTIFACT instance PAGE */

.row.about {
  margin-top: 45px;
}

/* Artifact Image + Carousels */

.artifact-carousel {
  background-color: black;
}

.artifact-img-container {
  background-color: black;
  text-align: center;
}

.artifact-carousel-cell .artifact-img-container {
  margin-bottom: 0;
}

.container.artifact-main {
  margin-top: 30px;
}

img.artifact-img {
  max-width: 100%;
  max-height: 100vh;
  padding: 8%;
}

.artifact-img-flick {
  max-width: 100%;
  max-height: 70vh;
  padding: 6%;
}

.caption-flick-shell {
  background-color: black;
}

.caption.a-multi {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.artifact-carousel-cell {
  width: 100%;
}

.f-carousel {
  --f-button-width: 38px;
  --f-button-height: 38px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 5;

  --f-button-color: #fff;
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-button-bg: #e16640;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
}

.fancybox__backdrop {
  --fancybox-bg: #000000;
}

.fancybox__infobar {
  font-family: maple-web, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
  padding-top: 15px;
  padding-left: 15px;
}

.fancybox__infobar span {
  padding: 0px;
}

/* Nav Carousel */

.artifact-carousel-nav {
  background-color: black;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.artifact-carousel-nav-cell {
  width: 50px;
  height: 50px;
}

.artifact-carousel-nav-cell.is-nav-selected {
  background-color: $artifact-color;
}

.artifact-carousel-nav-cell .artifact-img-nav {
  padding: 8px;
}

.artifact-carousel-nav-cell.is-nav-selected .artifact-img-nav {
  opacity: 1;
  transition: mix-blend-mode 0.3s ease;
  filter: grayscale(100%);
  mix-blend-mode: screen;
}

/* Flickity Buttons */

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-button-icon {
  fill: white;
}

.flickity-button-icon:hover {
  fill: $artifact-color;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
}

.flickity-button:hover {
  background: transparent;
}

/* Artifact Image Rotate */

img.artifact-img {
  -webkit-transition: all 1s ease;
}

.artifact-img.rotated {
  -webkit-transform: rotate(90deg);
}

/* cat-labels */

.cat-label {
  color: black;
  margin-bottom: 0;
  font-variation-settings: "wght" 800;
}

.cat-label.artifact {
  color: $artifact-color;
}

.cat-label.author {
  color: $author-color;
}

.cat-label.origin {
  color: $origin-color;
}

.cat-label.year {
  color: $year-color;
}

.cat-label.format {
  color: $format-color;
}

.cat-label.discipline {
  color: $discipline-color;
}

.cat-label.publisher {
  color: $publisher-color;
}

.cat-label.tag {
  color: $tag-color;
}

.cat-label.resource {
  color: $resource-color;
}

/* Artifact Deets */

.deet-label,
.page-title-label,
.prev-next-label {
  display: block;
}

.deet-label,
.prev-next-label {
  padding-top: 10px;
}

.deet-label:first-of-type {
  padding-top: 0;
}

.deet-label, .para-text strong {
  font-variation-settings: "wght" 800;
  font-weight: normal;
}

.deet-label.hanging,
.more-info-text,
.post-meta.self,
.share-sheet {
  position: relative;
  padding-top: 10px;
  margin-top: 8px;
}

.hanging::before,
.more-info-text::before,
.post-meta.self::before,
.share-sheet::before {
  background-color: #000;
  top: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 40px;
}

/* deet-links */

.deet-link {
  margin-right: 5px;
  text-decoration: none;
}

.circa {
  margin-right: 0;
}

.signed {
  margin-left: -5px;
}

.deet-label.author {
  color: $author-color;
}

.deet-label.origin {
  color: $origin-color;
}

.deet-label.year {
  color: $year-color;
}

.deet-label.format {
  color: $format-color;
}

.deet-label.discipline {
  color: $discipline-color;
}

.deet-label.publisher {
  color: $publisher-color;
}

.deet-label.tag {
  color: $tag-color;
}

.deet-label.resource {
  color: $resource-color;
}

/* deet-link-hovers */

a.deet-link:hover {
  text-decoration: none;
}

a.deet-link.author:hover {
  border-bottom: 1px solid $author-color;
}

a.deet-link.origin:hover {
  border-bottom: 1px solid $origin-color;
}

a.deet-link.year:hover {
  border-bottom: 1px solid $year-color;
}

a.deet-link.format:hover {
  border-bottom: 1px solid $format-color;
}

a.deet-link.discipline:hover {
  border-bottom: 1px solid $discipline-color;
}

a.deet-link.publisher:hover {
  border-bottom: 1px solid $publisher-color;
}

a.deet-link.tag:hover {
  border-bottom: 1px solid $tag-color;
}

a.deet-link.resource:hover {
  border-bottom: 1px solid $resource-color;
}

/* a-module & Previous/Next */

.row.prev-next {
  margin-top: 45px;
}

.page-title-label,
.prev-next-label {
  font-size: 13px;
}

.a-module:hover {
  text-decoration: none;
  color: $artifact-color;
}

.a-module.grid:hover .a-module-img-holder .a-module-img,
.a-module.grid:hover .a-module-img-holder .grid-img,
.a-module.prev-next:hover .a-module-img-holder .prev-next-img {

  opacity: 1;
  transition: mix-blend-mode 0.3s ease;
  filter: grayscale(100%);
  mix-blend-mode: screen;
}

.a-module-img-holder {

  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &.mason {
    padding: 2px;
    margin-bottom: 0px;
    border-radius: 5px;
  }

}

.artifact-grid-col {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.a-module.grid:hover .a-module-img-holder,
.a-module.prev-next:hover .a-module-img-holder {
  background-color: $artifact-color;
}

.grid-img {
  max-width: 100%;
  background-color: black;
}

.a-module-img,
.grid-img,
.prev-next-img {
  max-width: 100%;
  background-color: black;
}

.back-to {
  margin-top: 5px;
}

/* Rows & Sections */

.row.section {
  margin-top: 45px;
}

.row.first {
  margin-top: 60px;
}

.container-fluid.prev-next {
  margin-top: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $off-2;
}

/* text and caption cat-links */

a.caption.cat-link {
  font-size: 13px;
  border-bottom: 0;
}

a.caption.cat-link:hover {
  font-size: 13px;
}

.post-text a,
a.reg-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* */

a.cat-link::after {
  font-family: 'Mori Gothic';
  font-weight: 700;
  content: "☀";
}

a.cat-link::after {
  font-size: 1rem;
  vertical-align: 0%;
  padding-left: 2px;
  display: inline-block;
  
}

a.caption.cat-link::after {
  font-size: 15px;
  line-height: 1;
  vertical-align: text-bottom;
  padding-left: 2px;
  display: inline-block;
  
}

a.cat-link.artifact::after {
  color: $artifact-color;
}


a.cat-link.author::after   {
  color: $author-color;
}

a.cat-link.origin::after {
  color: $origin-color;
}

a.cat-link.publisher::after {
  color: $publisher-color;
}

a.cat-link.year::after {
  color: $year-color;
}

a.cat-link.format::after {
  color: $format-color;
}

a.cat-link.discipline::after {
  color: $discipline-color;
}

a.cat-link.author::after {
  color: $author-color;
}

a.cat-link.tag::after {
  color: $tag-color;
}

a.cat-link.resource::after {
  color: $resource-color;
}

a.cat-link.artifact:hover {
  color: $artifact-color;
}

a.cat-links:hover {
  border-bottom: none;
}

a.cat-link.author:hover   {
  color: $author-color;
}

a.cat-link.origin:hover {
  color: $origin-color;
}

a.cat-link.publisher:hover {
  color: $publisher-color;
}

a.cat-link.year:hover {
  color: $year-color;
}

a.cat-link.format:hover {
  color: $format-color;
}

a.cat-link.discipline:hover {
  color: $discipline-color;
}

a.cat-link.author:hover {
  color: $author-color;
}

a.cat-link.tag:hover {
  color: $tag-color;
}

a.cat-link.resource:hover {
  color: $resource-color;
}



/* Blog Posts */

.card.blog {
  margin-bottom: 30px;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.card-body.blog {
  min-height: 120px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
  border-top: 1px solid gray;
}

.card-img-top.blog {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.card-link.blog:hover .card-body.blog .title.blog.preview,
.card-link.blog:hover .card-body.blog .title.short.preview {
  color: $artifact-color;
}

.card-footer.blog {
  background-color: transparent;
  margin-top: 8px;
  padding-left: 0px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 0;
} 

.read-post {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 1rem;
}

.post-excerpt p {
  margin-bottom: 0;
}

.post-excerpt p:after {
  content: '...';
}

.post-lead {
  font-family: maple-web, sans-serif;
  color: gray;
  font-size: 22px;
  line-height: 1.3;
}

.post-lead.self {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.post-lead.preview {

  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 0;
}

.post-meta.preview {
  margin-bottom: 0;
  padding-top: 1px;
}

.post-text h3,
.post-text h4 {
  font-family: tgn-soft-round;
}

.post-text h3 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -0.2px;
  margin-top: 60px;
  margin-bottom: 26px;
  display: inline-block;
}

.post-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 1rem;
  display: inline-block;
}

/* Blog Posts - Images */

.caption.blog-header {
  margin-top: 8px;
}

.std-post-img {
  margin-bottom: 15px;
}

figure.post-img {
  margin-top: 60px;
  margin-bottom: 60px;
}

figure.post-img.artifact .artifact-holder {
  background-color: black;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 10px;
}

figure.post-img img {
  max-height: 90vh;
  border-right: 15px solid $artifact-color;
}

figure.post-img.artifact img {
  max-height: 80vh;
  border-right: none;
}

.post-img.preview {
  margin-top: 15px;
}

/* Image Captions */

.post-text figcaption {
  padding-top: 8px;
}

.post-text figcaption::before,
.caption.blog-header::before {
  content: "↑";
  padding-right: 4px;
}

figure.post-img.artifact figcaption {
  background-color: $bg-white;
  text-align: left;
  padding: 8px;
}

/* Shorts */

.short-feature-link {
  font-family: "Tiempos-Text-SemiboldItalic", serif;
  font-size: 32px;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 2px;
 
}

.short-feature-link:hover {
  color: $resource-color;
}

/* Latest Table */

table.lastest-artifacts thead tr th {
  font-weight: 300;
}

table.lastest-artifacts tbody {
  font-weight: 100;
}

/* Footnotes */

ol.footnotes {
  font-size: 12px;
  margin-top: 1rem;
  padding-left: 0;;
}

a.fn-down {
  color: black;
}

a.fn-down:hover {
  color: black;
  text-decoration: none;
}

a.fn-up {
  margin-left: 5px;
  font-weight: 700;
}

a.fn-up:hover {
  color: black;
  margin-left: 5px;
  text-decoration: none;
}

a.fn-link {
  line-height: 2;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid;
}

a.fn-link:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid $resource-color;
}

/* Share Sheet */

.share-sheet {
  margin-top: 60px;
}

/* Sol end-of-text Text Signature */

.sol-text-signature {
  width: 12px;
  padding-bottom: 2px;
}

/* Cat Section @ Index */

#latest-grid {
  --bs-gutter-x: 0.75rem;
}

.section-index-container {
  padding: 15px;
  margin: 15px;
  min-height: 300px;
}

.col-authors-index {
  background-color: $author-color;
}

.col-years-index {
  background-color: $year-color;
}

.col-formats-index {
  background-color: $format-color;
}

.col-disciplines-index {
  background-color: $discipline-color;
}

.col-origins-index {
  background-color: $origin-color;
}

.col-publishers-index {
  background-color: $publisher-color;
}

.col-tags-index {
  background-color: $tag-color;
}

@keyframes colors {
  0% {
    color: $artifact-color;
  }

  20% {
    color: $author-color;
  }

  40% {
    color: $origin-color;
  }

  60% {
    color: $year-color;
  }

  80% {
    color: $format-color;
  }

  100% {
    color: $tag-color;
  }
}


/* Responsiveness and Breakpoints */


/* sm */

@media (min-width: 576px) {

  .container-header {
    position: fixed;
    top: 0;
  }

  .sub-header-col {
    display: block;
    height: 40px;
  }

  .sub-header-link {
    line-height: 40px;
  }

  .container-allcats, .container-cat, .container.page, .container-artifacts, .container.first-after-header, .container-fluid.first-after-header {
    margin-top: $header-height-sm;
  }

  .ticker-move {
    animation: tickermovement linear 16s infinite;
  }

  .more-info-text {
    max-width: 350px;
  }

  .artifact-carousel-nav-cell {
    width: 75px;
    height: 75px;
  }

  /* typography */

  body {
    font-size: 18px;
  }

  .title-col {
    padding-top: 8px;
  }

  h2.title.blog.self {
    font-size: 36px;
  }

  input.quicksearch.artifacts {
    font-size: 20px;
  }

  h2.title.self {
    font-size: 32px;
  }

  a.text cat-link,
  a.text reg-link {
    font-size: 18px;
  }

  p.about-sol {
    font-size: 22px;
    letter-spacing: -0.2px;
}

}

/* md */

@media (min-width: 768px) {

  .sol-circle svg {
      width: 60px;
  }

  .sub-header-col {
    height: 76px;
  }

  .sub-header-link {
    line-height: 76px;
  }

  .container-allcats, .container-cat, .container-artifacts, .container.first-after-header, .container-fluid.first-after-header {
    margin-top: $header-height-md;
  }

  h2.title.allcat {
    font-size: 36px;
  }

  h2.title.allcat.tags,
  h2.title.allcat.index.authors,
  h2.title.allcat.index.publishers {
    font-size: 28px;
  }

  .section-index-container.formats,
  .section-index-container.tags {
    columns: 3;
  }

  .section-title.index.formats,
  .section-title.index.tags {
    column-span: all;
  }



  figure.post-img {
    text-align: right;
  }

  .ticker-move {
    animation: tickermovement linear 18s infinite;
  }

  .title.sun::before,
  h3.section-title.sun::before,
  h3.deets.title.sun::before,
  h3.ticker-section.sun::before {
    font-family: 'Mori Gothic';
    font-weight: 700;
    content: "☀";
  }

  h3.section-title.sun::before {
    font-size: 30px;
    position: relative;
    top: 4px;
    right: 8px;
  }

  h3.nav-link-title,
  h3.section-title.sun {
    margin-left: -20px;
  }

  .footer-text {
    margin-top: 0px;
  }

  .artifact-carousel-nav-cell {
    width: 100px;
    height: 100px;
  }

  /* typography */

  h2.title.blog.self {
    font-size: 40px;
  }

  p.about-sol {
    font-size: 24px;
    letter-spacing: -0.4px;
  }

  h2.title.self {
    font-size: 36px;
  }

  h2.title.blog.preview {
    font-size: 30px;
  }

}

/* lg */

@media (min-width: 992px) {

  /* typography */

  h1.site-title {
    font-size: 28px;
    margin-left: 8px;
    margin-bottom: 6px;
  }

  h2.title.self, h2.title.blog.self {
    font-size: 40px;
  }

  p.about-sol {
    font-size: 26px;
    letter-spacing: -0.5px;
}

  h2.title.blog.preview {
    font-size: 32px;
  }

  .container-allcats, .container-cat, .container-artifacts, .container.first-after-header, .container-fluid.first-after-header {
  margin-top: $header-height-lg;
}

  .sub-header-col {
    height: 90px;
  }

  .sub-header-link {
    line-height: 90px;
  }

  .artifact-deets-col {
    margin-top: var(--bs-gutter-y);
  }

  figure.post-img.offset {
    position: relative;
    left: 50%;
  }

  .ticker-move {
    animation: tickermovement linear 20s infinite;
  }



}

/* xl */

@media (min-width: 1200px) {

  /* typography */

  h1.site-title {
    font-size: 40px;
    margin-left: 15px;
    margin-bottom: 9px;
  }

  h2.title.self, h2.title.blog.self {
    font-size: 40px;
  }
  .sub-header-col {
    height: 110px;
  }

  .sub-header-link {
    line-height: 110px;
  }

  .sol-circle svg {
      width: 80px;
  }

  .container-allcats, .container-cat, .container-artifacts, .container.first-after-header, .container-fluid.first-after-header {
    margin-top: $header-height-xl;
  }

  .ticker-move {
    animation: tickermovement linear 22s infinite;
  }

}

/* xxl */

@media (min-width: 1400px) {
  .ticker-move {
    animation: tickermovement linear 24s infinite;
  }

}

@media (min-width: 1700px) {
  .ticker-move {
    animation: tickermovement linear 27s infinite;
  }

}

@media (min-width: 2000px) {
  .ticker-move {
    animation: tickermovement linear 30s infinite;
  }

}
