---
title: "Years"
---

{% include header-artifact.html %}

<div class="years holder">

    <div class="container container-browse">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Years</h3>

        </div>

        <div class="col-12">

        {% for year in site.years %}
        {% assign filtered_artifacts = site.artifacts | where: 'year', year.name %}

            <h2 class="title allcat">
              <a class="browse-link year" href="{{ year.url }}">{{ year.title }}</a>
              <span class="cat-count">{{ filtered_artifacts.size }}</span>
            </h2>

        {% endfor %}
        </div>
    </div>
</div>

</div>

{% include footer-cats.html %}
