<!doctype html>

<html lang="en">
<head>

  {% include common-head-stuff.html %}

  <title>{{ page.title }}</title>

  <meta name="description" content="Sol Design Archive is an online archive of design with a special focus on nineteenth-century Portuguese graphic design and illustration but a voracious appetite for the full breadth of visual expression. The online archive currently contains{{ site.artifacts.size }} artifacts by {{ site.authors.size }} authors. Collected, maintained and designed by Ricardo Santos out of love for these shapes and colors.">
  <meta property="og:title" content="{{ page.name }}" />
  <meta property="og:description" content="Sol Design Archive is an online archive of design with a special focus on nineteenth-century Portuguese graphic design and illustration but a voracious appetite for the full breadth of visual expression. The online archive currently contains{{ site.artifacts.size }} artifacts by {{ site.authors.size }} authors. Collected, maintained and designed by Ricardo Santos out of love for these shapes and colors." />
  <meta property="og:image" content="/images/non-art/sol-branding-comp-1.jpg" />

</head>

<body>

    {% include headers/header-proper.html %}
