---
title: "Cheat Sheet - Sol Design Archive"
back-office: true
published: false
---

{% include head-and-header-backoffice.html page-meta-title=page.title page-meta-url=page.url
page-meta-description=page.description page-meta-image=page.image %}

{% include baoff-sub-header.html %}

<div class="container-fluid back-office">

    <div class="row">

        <div class="col-2">

            <div class="faux-table db highest-refs">

                <div class="row artifact-table-row level-one">
                    <div class="col-12 faux-table-head-col">Highest count</div>
                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-12 faux-table-head-col">&nbsp;</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-010-0070</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-020-0001</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-030-0260</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-110-0003</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-111-0005</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-112-0000</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-114-0001</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-115-0000</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-120-0000</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-121-0049</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-130-0001</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-140-0004</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-160-0003</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-211-0000</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>
                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-222-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-231-0015</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-232-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-241-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-251-0015</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-252-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-253-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-254-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-255-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-256-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-320-0013</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-321-0042</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-322-0006</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-323-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-324-0003</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-333-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-410-0004</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-430-0003</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-460-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-511-0001</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-512-0002</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-520-0000</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-530-0002</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">sol-601-0003</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

                <div class="row artifact-table-row">
                    <div class="col-12 faux-table-head-col">-</div>
                </div>

            </div>


        </div>


        <div class="col-10">

            <div class="faux-table db" id="artifact-table">

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">Group</div>
                    <div class="col-10 faux-table-head-col">Description</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">000</div>
                    <div class="col-10 faux-table-head-col">Livros</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">010</div>
                    <div class="col-10 faux-table-head-col">capas (standalone)</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">020</div>
                    <div class="col-10 faux-table-head-col">jackets (standalone)</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">030</div>
                    <div class="col-10 faux-table-head-col">livros completos</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">040</div>
                    <div class="col-10 faux-table-head-col">separatas</div>

                </div>


                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">100</div>
                    <div class="col-10 faux-table-head-col">Formato Pequeno</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">110</div>
                    <div class="col-10 faux-table-head-col">programas - eventos, instituições, salas</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">111</div>
                    <div class="col-10 faux-table-head-col">movie</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">112</div>
                    <div class="col-10 faux-table-head-col">conferences</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">113</div>
                    <div class="col-10 faux-table-head-col">cultural institution</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">114</div>
                    <div class="col-10 faux-table-head-col">festival</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">115</div>
                    <div class="col-10 faux-table-head-col">museum/cultural/educational institution guides</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">120</div>
                    <div class="col-10 faux-table-head-col">Brochuras</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">121</div>
                    <div class="col-10 faux-table-head-col">turismo, (para) turistas, cidades, regiões, países, hotéis,
                        restaurantes, pontos de interesse</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">130</div>
                    <div class="col-10 faux-table-head-col">folhas/brochuras de sala, exposição, espectáculo</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">140</div>
                    <div class="col-10 faux-table-head-col">flyers, small format posters</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">150</div>
                    <div class="col-10 faux-table-head-col">postais</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">160</div>
                    <div class="col-10 faux-table-head-col">calendários, agendas, notebooks, promotional stuff</div>

                </div>


                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">200</div>
                    <div class="col-10 faux-table-head-col">Publicações não-periódicas</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">210</div>
                    <div class="col-10 faux-table-head-col">Mapas, guias</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">210</div>
                    <div class="col-10 faux-table-head-col">General maps</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">211</div>
                    <div class="col-10 faux-table-head-col">Tourism maps</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">212</div>
                    <div class="col-10 faux-table-head-col">Tourism guides</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">220</div>
                    <div class="col-10 faux-table-head-col">Publicações de divulgação de organismos estatais, públicos
                        ou
                        de instituições de interesse público</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">221</div>
                    <div class="col-10 faux-table-head-col">Generalistas</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">222</div>
                    <div class="col-10 faux-table-head-col">Turismo</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">223</div>
                    <div class="col-10 faux-table-head-col">Economia, finanças, indústria</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">224</div>
                    <div class="col-10 faux-table-head-col">Trabalho, políticas sociais</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">225</div>
                    <div class="col-10 faux-table-head-col">Política, progresso, sociedade</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">226</div>
                    <div class="col-10 faux-table-head-col">Ambiente, sector primário</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">227</div>
                    <div class="col-10 faux-table-head-col">Ciência, tecnologia, educação</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">228</div>
                    <div class="col-10 faux-table-head-col">Cultura</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">229</div>
                    <div class="col-10 faux-table-head-col">Desporto</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">230</div>
                    <div class="col-10 faux-table-head-col">Catalogues</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">231</div>
                    <div class="col-10 faux-table-head-col">Exhibition</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">232</div>
                    <div class="col-10 faux-table-head-col">Fair</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">233</div>
                    <div class="col-10 faux-table-head-col">Product, Comercial</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">240</div>
                    <div class="col-10 faux-table-head-col">Company publications</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">241</div>
                    <div class="col-10 faux-table-head-col">Reports, Annual reports</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">242</div>
                    <div class="col-10 faux-table-head-col">Internal publications</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">250</div>
                    <div class="col-10 faux-table-head-col">Booklets, fascículos</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">251</div>
                    <div class="col-10 faux-table-head-col">Turismo and related</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">252</div>
                    <div class="col-10 faux-table-head-col">Arts, culture, humanities</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">253</div>
                    <div class="col-10 faux-table-head-col">Science, technology</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">254</div>
                    <div class="col-10 faux-table-head-col">Fascículos</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">255</div>
                    <div class="col-10 faux-table-head-col">Technical</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">256</div>
                    <div class="col-10 faux-table-head-col">General public, Informational, Public Entities </div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">300</div>
                    <div class="col-10 faux-table-head-col">Publicações periódicas</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">310</div>
                    <div class="col-10 faux-table-head-col">Jornais</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">320</div>
                    <div class="col-10 faux-table-head-col">Revistas</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">320</div>
                    <div class="col-10 faux-table-head-col">General</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">321</div>
                    <div class="col-10 faux-table-head-col">Temáticas</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">322</div>
                    <div class="col-10 faux-table-head-col">Trade</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">323</div>
                    <div class="col-10 faux-table-head-col">Publicações periódicas de entidades</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">324</div>
                    <div class="col-10 faux-table-head-col">Almanaques</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">330</div>
                    <div class="col-10 faux-table-head-col">Small format print ads (from periodical <em>or not</em>)
                    </div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">331</div>
                    <div class="col-10 faux-table-head-col">purely typographic ads</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">332</div>
                    <div class="col-10 faux-table-head-col">compositional ads</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">333</div>
                    <div class="col-10 faux-table-head-col">illustrated or with photography</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">400</div>
                    <div class="col-10 faux-table-head-col">Ephemera I</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">410</div>
                    <div class="col-10 faux-table-head-col">Selos, vinhetas, carimbos</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">420</div>
                    <div class="col-10 faux-table-head-col">Etiquetas</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">430</div>
                    <div class="col-10 faux-table-head-col">Stickers, labels</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">440</div>
                    <div class="col-10 faux-table-head-col">Cartões de visita and similar</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">450</div>
                    <div class="col-10 faux-table-head-col">Convites, thank you cards, and similar</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">460</div>
                    <div class="col-10 faux-table-head-col">Product and commercial ephemera</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">500</div>
                    <div class="col-10 faux-table-head-col">Ephemera II</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">510</div>
                    <div class="col-10 faux-table-head-col">Tickets and related</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">511</div>
                    <div class="col-10 faux-table-head-col">Eventos, espectáculos</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">512</div>
                    <div class="col-10 faux-table-head-col">Transportes</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">513</div>
                    <div class="col-10 faux-table-head-col">Suportes de bilhetes, envelopes</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">520</div>
                    <div class="col-10 faux-table-head-col">Stationary, commercial papers, checks, invoices, letterheads
                    </div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">530</div>
                    <div class="col-10 faux-table-head-col">Envelopes</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">600</div>
                    <div class="col-10 faux-table-head-col">Packaging</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">600</div>
                    <div class="col-10 faux-table-head-col">Vinyl</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">601</div>
                    <div class="col-10 faux-table-head-col">Singles, EPs</div>

                </div>

                <div class="row artifact-table-row level-three">
                    <div class="col-1 faux-table-head-col ref">602</div>
                    <div class="col-10 faux-table-head-col">LPs</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">610</div>
                    <div class="col-10 faux-table-head-col">Paper</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">620</div>
                    <div class="col-10 faux-table-head-col">Plastic</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">630</div>
                    <div class="col-10 faux-table-head-col">Glass</div>

                </div>

                <div class="row artifact-table-row level-two">
                    <div class="col-1 faux-table-head-col ref">640</div>
                    <div class="col-10 faux-table-head-col">Metal</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">700</div>
                    <div class="col-10 faux-table-head-col">Posters, large format</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">800</div>
                    <div class="col-10 faux-table-head-col">Illustration, photography</div>

                </div>

                <div class="row artifact-table-row level-one">
                    <div class="col-1 faux-table-head-col ref">900</div>
                    <div class="col-10 faux-table-head-col">Other, signs, artesanato, objectos, found, organic </div>

                </div>





            </div>
        </div>

    </div>
</div>

{% include footer.html %}
{% include scripts/scripts-db.html %}
{% include the-end.html %}