---
title: "Refs - Sol Design Archive"
published: false
---

{% include head-and-header-backoffice.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description page-meta-image=page.image %}
  
{% include baoff-sub-header.html %}

<div class="container-fluid">
  <div id="artifacts-search" class="row no-gutters">

    <div class="col-6 col-xxl-6">
      <h3 class="filter-title"><span class="title-label">Search</span></h3>
      <input type="text" class="quicksearch baoff" placeholder="" />

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg button-group sort-by-button-group">

      <h3 class="filter-title"><span class="title-label">Sort by</span></h3>

      <button class="button is-checked" data-sort-value="original-order">original (ref)</button>
      <button class="button" data-sort-value="date">Date updated ↓</button>
      <button class="button" data-sort-value="status">Status</button>

    </div>

    <!--
    <div class="col-12 col-sm-6 col-md-4 col-lg button-group order-by-button-group">

      <h3 class="filter-title"><span class="title-label">Order</span></h3>

      <button class="button is-checked" data-order-value="true">Ascending</button>
      <button class="button" data-order-value="false">Descending</button>

    </div>
    -->

  </div>


  <div class="row faux-table-head-row">
    <div class="col-1 faux-table-head-col">Reference</div>
    <div class="col-3 faux-table-head-col">Title</div>
    <div class="col-2 faux-table-head-col">Slug</div>
    <div class="col-2 faux-table-head-col">Author</div>
    <div class="col-2 faux-table-head-col">Formats</div>
    <div class="col-1 faux-table-head-col">Status</div>
    <div class="col-1 faux-table-head-col">Date updated</div>
  </div>
</div>

   <div class="container-fluid">

    <div class="faux-table db" id="artifact-table">
          
        {% for artifact in site.artifacts %}
        <div class="row artifact-table-row">
        
          <div class="col-1 faux-table-col">
            <span class="reference">{{ artifact.ref | remove_first: 'sol-' }}</span>
          </div>

          <div class="col-3 faux-table-col">
            <span class="title tabold">{{ artifact.title }}</span> <br>
          </div>

          <div class="col-2 faux-table-col">
            <a href="{{ artifact.url }}" class="db-link">{{ artifact.url | remove_first: '/artifacts' }}</a> <br>
          </div>

          <div class="col-2 faux-table-col">{{ artifact.author_name | join: ", " }}</div>


          <div class="col-2 faux-table-col">
            {{ artifact.formats | join: ", " }} <br>  
          </div>

          <div class="col-1 faux-table-col">   
            <span class="status">{{ artifact.status }}</span>
          </div>

          <div class="col-1 faux-table-col">
            <span class="date">{{ artifact.date_added }}</span> <br>
          </div>
        </div>
            {% endfor %}
    </div>
</div>

<div class="artifacts-bottom-sub-header-bg">

</div>

{% include footer.html %}
{% include scripts/scripts-db-refs.html %}
{% include the-end.html %}