---
title: "Refs - Sol Design Archive"
published: false
---

{% include head-and-header-backoffice.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description page-meta-image=page.image %}
  
<div class="container-fluid back-office">
    <div id="artifacts-search" class="row no-gutters">

        <div class="col-6 col-xxl-6">
          <input type="text" class="quicksearch artifacts" placeholder="Search (Titles/Authors)" />
      
        </div>
      
        <div class="col-6">{{ site.artifacts.size }} artifacts total</div>
      
      </div>
      
      <div id="artifacts-filters" class="row no-gutters">
      
          <div class="col-12 col-sm-6 col-md-4 col-lg button-group sort-by-button-group" data-group="origins">
      
              <h3 class="filter-title"><span class="title-label">Sort by</span></h3>
          
              <button class="button is-checked" data-sort-value="original-order">original order</button>
              <button class="button" data-sort-value="title">Title</button>
              <button class="button" data-sort-value="reference">Reference</button>
              <button class="button" data-sort-value="year">Year</button>
              <button class="button" data-sort-value="date">Date updated</button>
              <button class="button" data-sort-value="status">Status</button>
              
            </div>
      
        <div class="col-12 col-sm-6 col-md-4 col-lg filter-group" data-group="types">
      
          <h3 class="filter-title"><span class="title-label">Filter by</span> Format</h3>
      
          {% for format in site.formats %}
      
            <input type="checkbox" value=".{{ format.name }}" class="btn-check filter" id="filter-{{ format.name }}" autocomplete="off">
            <label class="btn a-filter-label" for="filter-{{ format.name }}">{{ format.name | replace: "-", " " }}</label>
      
          {% endfor %}
      
        </div>
      
        <div class="col-12 col-sm-6 col-md-4 col-lg filter-group" data-group="origins">
      
          <h3 class="filter-title"><span class="title-label">Filter by</span> Origin</h3>
      
          {% for origin in site.origins %}
      
          <input type="checkbox" value=".{{ origin.name }}" class="btn-check filter" id="filter-{{ origin.name }}" autocomplete="off">
          <label class="btn a-filter-label" for="filter-{{ origin.name }}">{{ origin.name | replace: "-", " " }}</label>
      
          {% endfor %}
      
        </div>
      
      </div>
      
      <div class="row faux-table-head-row">
          <div class="col-1 faux-table-head-col">Reference</div>
          <div class="col-3 faux-table-head-col">Title</div>
          <div class="col-2 faux-table-head-col">Slug</div>
          <div class="col-2 faux-table-head-col">Authors</div>
          <div class="col-2 faux-table-head-col">Formats</div>
          <div class="col-1 faux-table-head-col">Status</div>
          <div class="col-1 faux-table-head-col">Date updated</div>
      </div>
</div>

   <div class="container-fluid">

    <div class="faux-table db" id="artifact-table">
          
        {% for artifact in site.artifacts %}
        <div class="row artifact-table-row">
        
          <div class="col-1 faux-table-col">
            <span class="reference">{{ artifact.ref | remove_first: 'sol-' }}</span>
          </div>

          <div class="col-3 faux-table-col">
            <span class="title tabold">{{ artifact.title }}</span> <br>
          </div>

          <div class="col-2 faux-table-col">
            <a href="{{ artifact.url }}" class="db-link">{{ artifact.url | remove_first: '/artifacts' }}</a> <br>
          </div>

          <div class="col-2 faux-table-col">{{ artifact.author_name | join: ", " }}</div>


          <div class="col-2 faux-table-col">
            {{ artifact.formats | join: ", " }} <br>  
          </div>

          <div class="col-1 faux-table-col">   
            <span class="status">{{ artifact.status }}</span>
          </div>

          <div class="col-1 faux-table-col">
            <span class="date">{{ artifact.date_added }}</span> <br>
          </div>
        </div>
            {% endfor %}
    </div>
</div>

<div class="artifacts-bottom-sub-header-bg">

</div>

{% include footer.html %}
{% include scripts/scripts-db-refs.html %}
{% include the-end.html %}