---
title: "DB - Sol Design Archive"
back-office: true
published: false
regenerate: true
---

{% include head-and-header-backoffice.html page-meta-title=page.title page-meta-url=page.url
page-meta-description=page.description page-meta-image=page.image %} {%- include sub-header-backoffice.html -%}

<div class="container-fluid faux-table db" id="artefact-table">
  {% assign artefacts_by_ref = site.artefacts | sort: 'ref_id' %} {% for artefact in artefacts_by_ref %}
  <div class="row artefact-table-row">
    <div class="col-1 faux-table-col">
      {% if artefact.published == false %}
      <img class="db-img" src="/images/non-art/black-square.png" alt="" />
      {% else %}
      <img
        class="db-img"
        loading="lazy"
        src="/images/sm/sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}-{{ artefact.slug }}-sm.jpg"
        alt="{{ artefact.title }}" />
      {% endif %}

      <span class="gray-diff" style="vertical-align: bottom"
        >{% if artefact.published == false %}0{% else %}{% if artefact.image_count %}{{ artefact.image_count }}{% else
        %}1{% endif %}{% endif %}</span
      >
    </div>

    <div class="col-3 faux-table-col">
      <span class="title tabold">{{ artefact.title }}</span> <br />
      <span class="reference">sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}</span>-<a
        href="{{ artefact.url }}"
        class="db-link"
        >{{ artefact.url | remove_first: '/artefacts/' | remove: "/" }}</a
      ><br />
    </div>

    <div class="col-2 faux-table-col">
      {{ artefact.author_name | join: ", " }} <br />
      <span style="font-style: italic">{{ artefact.publisher | join: ", " }}</span><br />
      <span class="year">{{ artefact.year | remove_first: 'y' | replace: "-", " " }}</span> | {{ artefact.origin | join:
      ", " }}
    </div>

    <div class="col-3 faux-table-col">
      {{ artefact.formats | join: ", " }} <br />
      <span class="gray-diff">{{ artefact.disciplines | join: ", " }}</span> <br />
      {{ artefact.tags | join: ", " }} <br />
    </div>

    <div class="col-3 faux-table-col">
      <span class="date">{{ artefact.date_added }}</span><br />
      <span class="pub-steps status">{% include pub-steps.html %}</span>
      {{ artefact.batch }}
    </div>
  </div>
  {% endfor %}
</div>

{% include footer.html %} {% include scripts/scripts-db.html %} {% include the-end.html %}
