<div class="row">
  <div class="col-9">
    <div class="filter-header">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4" data-group="types">
          <h3 class="section-title artefacts-filter">What?</h3>
        </div>

        <div class="col-12 col-sm-6 col-md-12 col-lg-2" data-group="years">
          <h3 class="section-title artefacts-filter">When?</h3>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-group="origins">
          <h3 class="section-title artefacts-filter">Where?</h3>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-group="disciplines">
          <h3 class="section-title artefacts-filter">How?</h3>
        </div>
      </div>
    </div>

    <div id="artefacts-filters" class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 filter-group first-filter-group" data-group="types">
        {% for format in site.formats %}
        <input
          type="checkbox"
          value=".{{ format.name }}"
          class="btn-check filter artefacts"
          id="filter-{{ format.name }}"
          autocomplete="off" /><label class="btn a-filter-label" for="filter-{{ format.name }}">
          {{ format.name | replace: "-", " " }} <br />
        </label>
        {% endfor %}
      </div>

      <div class="col-12 col-sm-6 col-md-12 col-lg-2 filter-group" data-group="years">
        <input type="checkbox" value=".1890s" class="btn-check filter artefacts" id="filter-1890s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1890s">1890s</label>

        <input type="checkbox" value=".1920s" class="btn-check filter artefacts" id="filter-1920s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1920s">1920s</label>

        <input type="checkbox" value=".1930s" class="btn-check filter artefacts" id="filter-1930s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1930s">1930s</label>

        <input type="checkbox" value=".1940s" class="btn-check filter artefacts" id="filter-1940s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1940s">1940s</label>

        <input type="checkbox" value=".1950s" class="btn-check filter artefacts" id="filter-1950s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1950s">1950s</label>

        <input type="checkbox" value=".1960s" class="btn-check filter artefacts" id="filter-1960s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1960s">1960s</label>

        <input type="checkbox" value=".1970s" class="btn-check filter artefacts" id="filter-1970s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1970s">1970s</label>

        <input type="checkbox" value=".1980s" class="btn-check filter artefacts" id="filter-1980s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1980s">1980s</label>

        <input type="checkbox" value=".1990s" class="btn-check filter artefacts" id="filter-1990s" autocomplete="off" />
        <label class="btn a-filter-label" for="filter-1990s">1990s</label>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 filter-group" data-group="origins">
        {% for origin in site.origins %}
        <input
          type="checkbox"
          value=".{{ origin.name }}"
          class="btn-check filter artefacts"
          id="filter-{{ origin.name }}"
          autocomplete="off" />
        <label class="btn a-filter-label" for="filter-{{ origin.name }}">
          {{ origin.name | replace: "-", " " }} <br />
        </label>
        {% endfor %}
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 filter-group" data-group="disciplines">
        {% for discipline in site.disciplines %}
        <input
          type="checkbox"
          value=".{{ discipline.name }}"
          class="btn-check filter artefacts"
          id="filter-{{ discipline.name }}"
          autocomplete="off" />
        <label class="btn a-filter-label" for="filter-{{ discipline.name }}">
          {{ discipline.name | replace: "-", " " }} <br />
        </label>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-3">
    <div id="artefacts-search">
      <div class="outer-search">
        <input type="text" class="quicksearch artefacts" placeholder="Search (Titles/Authors)" />
      </div>
    </div>
  </div>
</div>
