      <div class="container-fluid cat">

          <!-- Artifact Carousel -->
          <div class="artifact-carousel" data-flickity='{ "contain": true, "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "cellSelector": ".artifact-carousel-cell"}'>

            <div class="artifact-carousel-cell">
              <div class="artifact-img-container">

              <img class="artifact-img-flick" src="/images/{{ page.ref }}-{{ page.slug }}.jpg" alt="{{ page.title }}">
              </div>
            </div>

          {% assign image_count = page.image_count %}
          {% for image in (2..image_count) %}

          <div class="artifact-carousel-cell">
            <div class="artifact-img-container">


            <img class="artifact-img-flick" src="/images/{{ page.ref }}-{{ page.slug }}-{{ image }}.jpg" alt="{{ page.title }}">
            </div>


          {% assign fixed_image_count = image | minus: 1 %}
            {% if page.image_captions[fixed_image_count] %}
            <div class="caption-flick-shell">
              <p class="caption a-multi fake-container">↑ {{ page.image_captions[fixed_image_count]}}</p>
            </div>


            {% endif %}
          </div>

          {% endfor %}
          </div>


          <!-- Nav Artifact Carousel -->
          <div class="artifact-carousel-nav" data-flickity='{ "asNavFor": ".artifact-carousel", "contain": true, "pageDots": false, "prevNextButtons": false }'>
            <div class="artifact-carousel-nav-cell">
              <img class="artifact-img-nav" src="/images/{{ page.ref }}-{{ page.slug }}.jpg" alt="{{ page.title }}">
            </div>

          {% for image in (2..image_count) %}
          <div class="artifact-carousel-nav-cell">
            <img class="artifact-img-nav" src="/images/{{ page.ref }}-{{ page.slug }}-{{ image }}.jpg" alt="{{ page.title }}">
          </div>
          {% endfor %}
          </div>

        </div>
