
<div class="row no-gutters">
  <div class="col-12">

  <div class="button-group filter-button-group">
    <button data-filter="*">show all</button>
    <button data-filter=".book">book</button>
    <button data-filter=".record">record</button>
    <button data-filter=".illustration">illustration</button>
    <button data-filter=".lettering">lettering</button>
    <button data-filter=".brochure">brochure</button>
  </div>

</div>

<div class="col-12">

  <div class="button-group filter-button-group">
    <button data-filter=".y1958">1958</button>
    <button data-filter="*">show all</button>
    <button data-filter=".y1962">1962</button>
    <button data-filter=".y1965">1965</button>
    <button data-filter=".y1968">1968</button>
  </div>

</div>
</div>
