
<div id="artifacts-search" class="row no-gutters">

  <div class="col-12">
    <input type="text" class="quicksearch artifacts" placeholder="Search (Titles/Authors)" />

  </div>

</div>

<div id="artifacts-filters" class="row no-gutters">

  <div class="col-12 col-sm-6 col-md-4 col-lg filter-group" data-group="types">

    <h3 class="filter-title"><span class="title-label">Filter by</span> Format</h3>

    {% for format in site.formats %}

      <input type="checkbox" value=".{{ format.name }}" class="btn-check filter" id="filter-{{ format.name }}" autocomplete="off">
      <label class="btn a-filter-label" for="filter-{{ format.name }}">{{ format.name | replace: "-", " " }}</label>

    {% endfor %}

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg filter-group" data-group="disciplines">

    <h3 class="filter-title"><span class="title-label">Filter by</span> Discipline</h3>

    {% for discipline in site.disciplines %}

      <input type="checkbox" value=".{{ discipline.name }}" class="btn-check filter" id="filter-{{ discipline.name }}" autocomplete="off">
      <label class="btn a-filter-label" for="filter-{{ discipline.name }}">{{ discipline.name | replace: "-", " " }}</label>

    {% endfor %}

  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg filter-group" data-group="origins">

    <h3 class="filter-title"><span class="title-label">Filter by</span> Origin</h3>

    {% for origin in site.origins %}

    <input type="checkbox" value=".{{ origin.name }}" class="btn-check filter" id="filter-{{ origin.name }}" autocomplete="off">
    <label class="btn a-filter-label" for="filter-{{ origin.name }}">{{ origin.name | replace: "-", " " }}</label>

    {% endfor %}

  </div>

  <div class="col-12 col-sm-6 col-md-12 col-lg filter-group" data-group="years">

    <h3 class="filter-title"><span class="title-label">Filter by</span> Year</h3>

    {% for year in site.years %}

      <input type="checkbox" value=".{{ year.name }}" class="btn-check filter" id="filter-{{ year.name }}" autocomplete="off">
      <label class="btn a-filter-label" for="filter-{{ year.name }}">{{ year.name | remove_first: "y" }}</label>

    {% endfor %}

  </div>

</div>
