<section class="artifact-deets">
    <div class="datum-row row">
        <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label author first">Author{% if page.author_name.size > 1 %}s{% endif %}</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for author in page.author_name %}
          {% if page.signature-id %}signed «{% endif %}<a class="deet-link author" href="/authors/{{ author | remove:"." }}">{{ author }}</a>{% if page.signature-id %}»{% endif %}
          {% endfor %}
        </div>
    </div>


    <div class="datum-row row artifact-deets-row">

      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label year hanging">Year</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          <a class="deet-link year" href="/years/{{ page.year | remove_first: "y" }}">{% if page.circa %}<span class="deet-link year circa">c. </span>{% endif %}{{ page.year | remove_first: "y" | replace: '-', ' ' }}</a>
        </div>
    </div>

    <div class="datum-row row artifact-deets-row">

       <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label publisher hanging">Publisher{% if page.publisher.size > 1 %}s{% endif %}/Client{% if page.publisher.size > 1 %}s{% endif %}</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for publisher in page.publisher %}
          <a class="deet-link publisher" href="/publishers/{{ publisher | remove: '.' }}">{{ publisher }}</a>
          {% endfor %}
        </div>
      <br>
    </div>
    <div class="datum-row row artifact-deets-row">

        <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label origin hanging">Origin{% if page.origin.size > 1 %}s{% endif %}</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for origin in page.origin %}
          <a class="deet-link origin" href="/origins/{{ origin | escape_once }}">{{ origin | replace: "-", " " }}</a>
          {% endfor %}
          
        </div>
      <br>
    </div>
    <div class="datum-row row artifact-deets-row">
       <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label tag hanging">Tags</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for tag in page.tags %}
      <a class="deet-link tag" href="/tags/{{ tag | replace: "/", "-barra-" | replace: ".", "-dot-" | replace: "[" ,"-obr-" | replace: "]" ,"-cbr-" }}">{{ tag }}</a>
      {% endfor %}
       {% if page.tags.size == 0 %}—{% endif %}
        </div>
    </div>

    <div class="datum-row row artifact-deets-row">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
          <span class="deet-label format hanging">Format{% if page.formats.size > 1 %}s{% endif %}</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for format in page.formats %}
      <a class="deet-link format" href="/formats/{{ format }}">{{ format | replace: "-", " " }}</a>
      {% endfor %}
        </div>
    </div>

    <div class="datum-row row artifact-deets-row">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <span class="deet-label discipline hanging">Discipline{% if page.disciplines.size > 1 %}s{% endif %}</span>
        </div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          {% for discipline in page.disciplines %}
          <a class="deet-link discipline" href="/disciplines/{{ discipline }}">{{ discipline | replace: "-", " " }}</a>
          {% endfor %}
        </div>
    </div>
    <div class="datum-row row artifact-deets-row">

      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
       <span class="deet-label hanging">Reference</span>
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
         <span class="reference">{{ page.ref | remove_first: "sol-"}}</span>
      </div>
    </div>

    {% if page.status == "wip" %}
    <div class="datum-row row artifact-deets-row">

      <div class="col-12 col-sm-3 col-md-2 datum-left-col"></div>
        <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col deet-links">
          <div class="badge wip-badge">Work in Progress</div></p>
        </div>
    </div>
    {% endif %}
  </section>



 