<div class="container-fluid back-office-sub-header back-office">

  <div class="row header-row back-office">

    <div class="col-4 sub-header-col baoff">There are currently {{ site.artifacts.size }} artifacts in the database. 
    </div>

    <div class="col-4 col-sm-12 col-md sub-header-col col-baoff odd">
      <a class="sub-header-link baoff stretched-link align-middle" href="/pages/back-office/db.html">Main DB</a>
    </div>

    <div class="col-4 col-sm-12 col-md sub-header-col col-baoff odd">
      <a class="sub-header-link baoff stretched-link align-middle" href="/pages/back-office/db-status.html">Status</a>
    </div>

    <div class="col-4 col-sm-12 col-md sub-header-col col-baoff even">
      <a class="sub-header-link baoff stretched-link align-middle" href="/pages/back-office/db-refs.html">Refs</a>
    </div>

    <div class="col-4 col-sm-12 col-md sub-header-col col-baoff odd">
      <a class="sub-header-link baoff stretched-link align-middle" href="/pages/back-office/cheat-sheet.html">Cheat Sheet</a>
    </div>

  </div>

</div>