<div class="container-fluid footer">
  <div class="row datum-section footer-row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-2 footer-col cats">
      <a class="footer-link cat artefacts" href="/pages/artefacts.html">artefacts</a><br />
      <a class="footer-link cat authors" href="/pages/authors.html">Authors</a><br />
      <a class="footer-link cat origins" href="/pages/origins.html">Origins</a><br />
      <a class="footer-link cat publishers" href="/pages/publishers.html">Publishers</a><br />
      <a class="footer-link cat disciplines" href="/pages/disciplines.html">Disciplines</a><br />
      <a class="footer-link cat years" href="/pages/years.html">Years</a><br />
      <a class="footer-link cat formats" href="/pages/formats.html">Formats</a><br />
      <a class="footer-link cat tags" href="/pages/tags.html">Tags</a><br />
      <a class="footer-link cat resources" href="/pages/resources.html">Resources</a><br />
    </div>

    <div class="col-6 col-sm-3 col-lg-2 footer-col">
      <a class="footer-link primary" href="/pages/about.html">About</a><br />
      <a class="footer-link primary" href="/pages/blog">Blog</a><br />
      <a class="footer-link primary" href="/pages/shorts">Shorts</a><br />
      <a class="footer-link" href="https://instagram.com/soldesignarchive">Instagram</a><br />
      <a class="footer-link" href="https://twitter.com/archivesol">Twitter</a>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-xxl-4 footer-col">
      {% assign published_artefacts = site.artefacts | where: 'published', 'true' %} {% assign published_authors =
      site.authors | where: 'published', 'true' %}
      <section class="footer-text">
        <p>{% include about-sol.md %}</p>

        <p>
          All materials <strong>created</strong> by Sol are shared under a
          <span style="font-variant-numeric: normal">CC0</span>. Artworks and other resources are shared under fair use
          for educational and research purposes.
        </p>
        <a href="https://dat-rs.com"><img src="/images/non-art/sunny.png" height="70px" alt="" /></a>
      </section>
    </div>
  </div>
</div>

{% assign min = 1 %} {% assign pub_artefacts = site.artefacts | where: 'published', true %} {% assign max =
pub_artefacts.size %} {% assign diff = max | minus: min %} {% assign randomNumber = "now" | date: "%N" | modulo: diff |
plus: min %} {% assign feature_random_artefacts = pub_artefacts | slice: randomNumber %} {% assign
feature_random_artefacts_2 = feature_random_artefacts | slice: 0, 1 %}

<div class="container-fluid footer-quote">
  <div class="row datum-section footer-quote">
    <div class="col-12 col-lg-7 quote">
      <q class="footer-quote">Save everything.<br />It may come in handy later.</q>
      <p class="footer-quote-byline">Corita Kent</p>
    </div>

    {% for artefact in feature_random_artefacts_2 %}
    <div class="col-12 col-lg-5">
      <div class="artefact-img-container random-feature">
        <a href="/artefacts/{{ artefact.slug }}">
          <img
            class="artefact-img random-feature"
            src="/images/sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}-{{ artefact.slug }}.jpg"
            alt="{{ artefact.title }}" />
        </a>
      </div>
      <div class="caption">
        <strong>{{ artefact.title }}</strong> <br />
        {{ artefact.author_name }} ({{ artefact.year | remove_first: 'y' | replace: '-', ' ' }}) <br />
        sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include every-cat.html %}
