  <div class="container-fluid container-footer">

      <div class="row footer-row">

          <div class="col-12 col-md-4">

              <a class="footer-link" href="https://instagram.com/soldesignarchive">Instagram</a><br>
              <a class="footer-link" href="https://twitter.com/soldesignarchive">twitter</a>

          </div>

          <div class="col-12 col-md-4">

              <a class="footer-link" href="/faqs.html">F.A.Q.</a><br>
              <a class="footer-link" href="/useful-links.html">Useful Links</a>


          </div>

          <div class="col-12 col-md-4">

              <p class="footer-text">
                  Sol Design Archive is an online archive of design with a special focus on nineteenth-century Portuguese graphic design and illustration. The archive currently contains <strong>{{ site.artifacts.size }}</strong> artifacts by <strong>{{ site.authors.size }}</strong> authors. Collected, maintained and designed by Ricardo Santos.
              </p>

              <p class="footer-text">

                  All materials <strong>created</strong> by Sol are shared under a CC Attribution-Share Alike license. Artworks and other resources are shared under fair use for educational and research purposes.

              </p>

          </div>

          <div class="col-12">

            <p class="footer-quote">
              «Nothing  is a mistake. There's no win and no fail. There's only make.»
              <br>Corita Kent
            </p>

          </div>

      </div>

  </div>

  <script>
      var bool = true;

      function changeBackground() {

          (bool) ? document.getElementById("sub-header-0-id").style.background = "#f2f2f2": document.getElementById("sub-header-0-id").style.background = "#f2b34b";
          bool = !bool;
      }

  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/flickity.pkgd.min.js"></script>
  <script>
    $( ".DISC-artifact-img" ).click(function(){
    $(this).toggleClass('rotated');
  });
  </script>
  </body>

  </html>
