  <div class="container-fluid container-footer">

    <div class="row footer-row">

      <div class="col-12 col-md-4">

        <a class="footer-link" href="https://instagram.com/soldesignarchive">Instagram</a><br>
        <a class="footer-link" href="https://twitter.com/soldesignarchive">twitter</a>

      </div>

      <div class="col-12 col-md-4">

        <a class="footer-link" href="/faqs.html">F.A.Q.</a><br>
        <a class="footer-link" href="/useful-links.html">Useful Links</a>


      </div>

      <div class="col-12 col-md-4">

        <p class="footer-text">
          Sol Design Archive is an online archive of design with a special focus on nineteenth-century Portuguese graphic design and illustration. The archive currently contains <strong>{{ site.artifacts.size }}</strong> artifacts by
          <strong>{{ site.authors.size }}</strong> authors. Collected, maintained and designed by Ricardo Santos.
        </p>

        <p class="footer-text">

          All materials <strong>created</strong> by Sol are shared under a CC Attribution-Share Alike license. Artworks and other resources are shared under fair use for educational and research purposes.

        </p>

      </div>

      <div class="col-12">

        <p class="footer-quote">
          «Nothing is a mistake. There's no win and no fail. There's only make.»
          <br>Corita Kent
        </p>

      </div>

    </div>

  </div>

  <script>
    var bool = true;

    function changeBackground() {

      (bool) ? document.getElementById("sub-header-0-id").style.background = "#f2f2f2": document.getElementById("sub-header-0-id").style.background = "#f2b34b";
      bool = !bool;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/flickity.pkgd.min.js"></script>
  <script src="/isotope.pkgd.min.js"></script>
  <script>
    $(".DISC-artifact-img").click(function() {
      $(this).toggleClass('rotated');
    });
  </script>

  <script>
    // store filter per group
    var filters = {};

    var $container = $('#artifacts-grid-row');

    var $filterDisplay = $('#filter-display');
    var qsRegex;
    var buttonFilter;
    var searchAndFilter = function() {
      var $this = $(this);

      var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
      var comboFilter = getComboFilter();
      var buttonResult = comboFilter ? $this.is( comboFilter ) : true;

      return searchResult && buttonResult;
  }

    $container.isotope({
      // options
      itemSelector: '.artifact-grid-col',
      layoutMode: 'masonry',
      filter: searchAndFilter
    });

    $('#artifacts-filters').on( 'click', 'button', function() {
      buttonFilter = $( this ).attr('data-filter');
      $grid.isotope();
    });
    // use value of search field to filter
    var $quicksearch = $('.quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );
    // do stuff when checkbox change
    $('#artifacts-filters').on( 'change', function( event ) {
      var checkbox = event.target;
      var $checkbox = $( checkbox );

      var group = $checkbox.parents('.filter-group').attr('data-group');

      // create array for filter group, if not there yet
      var filterGroup = filters[ group ];
      if ( !filterGroup ) {
        filterGroup = filters[ group ] = [];
      }
      // add/remove filter
      if ( checkbox.checked ) {
        // add filter
        filterGroup.push( checkbox.value );
      } else {
        // remove filter
        var index = filterGroup.indexOf( checkbox.value );
        filterGroup.splice( index, 1 );
      }

      $container.isotope({filter:searchAndFilter});
      $filterDisplay.text( getComboFilter() );
    });


    function getComboFilter() {
      var combo = [];
      for (var prop in filters) {
        var group = filters[prop];
        if (!group.length) {
          // no filters in group, carry on
          continue;
        }
        // add first group
        if (!combo.length) {
          combo = group.slice(0);
          continue;
        }
        // add additional groups
        var nextCombo = [];
        // split group into combo: [ A, B ] & [ 1, 2 ] => [ A1, A2, B1, B2 ]
        for (var i = 0; i < combo.length; i++) {
          for (var j = 0; j < group.length; j++) {
            var item = combo[i] + group[j];
            nextCombo.push(item);
          }
        }
        combo = nextCombo;
      }
      var comboFilter = combo.join(', ');
      return comboFilter;
    }

    // debounce so filtering doesn't happen every millisecond
    function debounce( fn, threshold ) {
      var timeout;
      threshold = threshold || 100;
      return function debounced() {
        clearTimeout( timeout );
        var args = arguments;
        var _this = this;
        function delayed() {
          fn.apply( _this, args );
        }
        timeout = setTimeout( delayed, threshold );
      };
    }

    // layout Isotope after each image loads
$container.imagesLoaded().progress( function() {
  $container.isotope('layout');
});


  </script>

  </body>

  </html>
