  <div class="container-fluid container-footer">

    <div class="row footer-row">

      <div class="col-12 col-md-4">

        <a class="footer-link" href="https://instagram.com/soldesignarchive">Instagram</a><br>
        <a class="footer-link" href="https://twitter.com/soldesignarchive">twitter</a>

      </div>

      <div class="col-12 col-md-4">
        <a class="footer-link" href="/colophon.html">Colophon</a><br>
        <a class="footer-link" href="/faqs.html">F.A.Q.</a><br>
        <a class="footer-link" href="/useful-links.html">Useful Links</a>


      </div>

      <div class="col-12 col-sm-6 col-md-4">

        <p class="footer-text">
          Sol Design Archive is an online archive of design with a special focus on nineteenth-century Portuguese graphic design and illustration. The archive currently contains <strong>{{ site.artifacts.size }}</strong> artifacts by
          <strong>{{ site.authors.size }}</strong> authors. Collected, maintained and designed by Ricardo Santos.
        </p>

        <p class="footer-text">

          All materials <strong>created</strong> by Sol are shared under a CC Attribution-Share Alike license. Artworks and other resources are shared under fair use for educational and research purposes.

        </p>

      </div>

      <div class="col-12">

        <div class="footer-logos">

          <img src="/images/non-art/sol-mark-shorthand-offwhite.png" width="45px" style="margin-top: 50px" alt=""><br>
          <img src="/images/non-art/office-santos-logo-offwhite.png" height="25px" style="margin-top: 50px" alt="">


        </div>

      </div>

    </div>

    <div class="row footer-quote-row">

      <div class="col-12">

        <p class="footer-quote">
          «SAVE EVERYTHING.<br>It may come in handy later.»
          <br><br>Corita Kent
        </p>

      </div>

    </div>

  </div>
