<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.typekit.net/tjk6djf.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/flickity.min.css" media="screen">
  <link rel="stylesheet" href="/style.css">


</head>

<body>

    <div class="container-fluid container-header">

        <div class="row ">

            <div class="col-6 col-lg-4">

              <h1 class="site-title"><a href="/">Sol Design Archive</a></h1>

              <!--
              <a href="/"><img src="/images/non-art/sol-logo-1.png" alt="" class="header-logo"></a>
              -->

            </div>

            <div class="col-6 col-lg-4 d-sm-none row align-items-around">

                <div class="menu-link-container align-self-end">
                    <a class="menu-link" data-toggle="collapse" href=".sub-headers-collapse">+</a>
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid sub-header-exp">

        <div class="row">

           <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-artifacts collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link artifacts" href="/artifacts.html">Artifacts</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-authors collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link authors" href="/authors.html">Authors</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-origins collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link origins" href="/origins.html">Origins</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-publishers collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link publishers" href="/publishers.html">Publishers</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-years collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link years" href="/years.html">Years</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-types collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link types" href="/types.html">Types</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-tags collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link tags" href="/tags.html">Tags</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-exp-col col-resources collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link resources" href="/resources.html">Resources</a>

            </div>

        </div>

    </div>
