<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.typekit.net/tjk6djf.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

    <div class="container-fluid container-header">

        <div class="row ">

            <div class="col-6 col-lg-4">

                <h1 class="rsda">
                    <a href="/">
                        <h1>Sol Design Archive</h1>
                    </a>
                </h1>

            </div>

            <div class="col-6 col-lg-4 d-sm-none row align-items-around">

                <div class="menu-link-container align-self-end">
                    <a class="menu-link" data-toggle="collapse" href=".sub-headers-collapse">+</a>
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid sub-header-exp">

        <div class="row">

           <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-artifacts collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp artifacts" href="/artifacts.html">artifacts</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-authors collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp authors" href="/authors.html">authors</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-origins collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp origins" href="/origins.html">origins</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-publishers collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp origins" href="/publishers.html">publishers</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-years collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp years" href="/years.html">years</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-types collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp types" href="/types.html">types</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-tags collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link-exp tags" href="/tags.html">tags</a>

            </div>

        </div>

    </div>
