    <div class="container-fluid container-header">

        <div class="row header-row">

            <div class="col-12 col-lg-3 col-xl-4 d-flex title-col align-items-center">
              <div class="sol-circle">
                <svg viewBox="0 0 200 200">

                  <path class="cls-1" d="M100,0C44.77,0,0,44.77,0,100s44.77,100,100,100,100-44.77,100-100S155.23,0,100,0Zm62.5,162.5H37.5V37.5h125v125Z"/>
                </svg>
              </div>
              <h1 class="site-title"><a href="/" class="stretched-link">Sol Design Archive</a></h1>

            </div>

            {% include nav.html %}

        </div>

    </div>
