    <div class="container-fluid container-header">

        <div class="row ">

            <div class="col-6 col-lg-4">

              <h1 class="site-title"><a href="/">Sol Design Archive</a></h1>

              <!--
              <a href="/"><img src="/images/non-art/sol-logo-1.png" alt="" class="header-logo"></a>
              -->

            </div>

            <div class="col-6 col-lg-4 d-sm-none row align-items-around">

                <div class="menu-link-container align-self-end">
                    <a class="menu-link" data-toggle="collapse" href=".sub-headers-collapse">+</a>
                </div>

            </div>

        </div>

    </div>
