    <div class="container-fluid container-header">

        <div class="row header-row">

            <div class="col-4 d-flex title-col align-items-center">
              <div class="sol-circle">
                <svg viewBox="0 0 100 100">
                  <circle cx="50px" cy="50px" r="50px"/>
                </svg>
              </div>
              <h1 class="site-title"><a href="/">Sol Design Archive</a></h1>

            </div>

            {% include nav.html %}

        </div>

    </div>
