{% assign pub_artefacts = site.artefacts | where: "published", 'true' %} {% assign latest_artefacts = pub_artefacts |
sort: 'date_added' | reverse | slice: 0, 12 %}
<div class="container-fluid latest artefacts">
  <div class="row datum-section cat-artefacts">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title cat-artefacts">Latest Additions</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-10 col-lg-9 datum-right-col">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artefacts-gutters">
        {% for artefact in latest_artefacts %}

        <div class="col">{% include a-modules/a-module-au-y.html %}</div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
