<div class="container-fluid rainbow-container-outer">
  <div class="container-md rainbow-container d-flex align-items-center justify-content-center">
    <div class="row rainbow-2">
      <div class="col-12">
        <h3 class="section-title negative">Latest Additions</h3>
      </div>
      {% assign latest_artifacts = site.artifacts | sort: 'date_added' | reverse | slice: 0, 12 %} {% for artifact in
      latest_artifacts %}
      <div class="col-2 col-sm-2 col-md-1">
        <a class="a-module sm grid" href="{{ artifact.url }}">
          <div class="a-module-img-holder">
            <img class="a-module-img" src="/images/tiles/{{ artifact.ref }}-{{ artifact.slug }}-tile.jpg" alt="" />
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn cta circle see-all negative" href="/pages/artifacts.html" role="button"
          >See all<br />artifacts <br />→</a
        >
      </div>
    </div>
  </div>
</div>
