<div class="container latest-artifacts-container-1">

    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Latest Artifacts added</h3>

        </div>
    </div>
</div>

<div class="container-fluid latest-artifacts-container-2">

  <div id="latest-grid" class="row">

    {% assign latest_artifacts = site.artifacts | sort: 'date_added' | reverse | slice: 0, 24 %}

    {% for artifact in latest_artifacts %}

    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
    {% include a-module-au-y.html %}
    </div>

  {% endfor %}

</div>

  <div class="row">
    <div class="col-12 text-center">
      <a class="btn cta" href="/artifacts" role="button">See all artifacts →</a>
    </div>
  </div>

</div>
