<div class="col-12 col-sm-3 col-md sub-header-col col-artifacts">

     <a id="" class="sub-header-link artifacts stretched-link align-middle" href="/artifacts.html">Artifacts</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-authors">

     <a id="" class="sub-header-link authors stretched-link" href="/authors.html">Authors</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-origins">

     <a id="" class="sub-header-link origins stretched-link" href="/origins.html">Origins</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-publishers">

     <a id="" class="sub-header-link publishers stretched-link" href="/publishers.html">Publishers</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-disciplines">

     <a id="" class="sub-header-link disciplines stretched-link" href="/disciplines.html">Disciplines</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-years">

     <a id="" class="sub-header-link years stretched-link" href="/years.html">Years</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-formats">

     <a id="" class="sub-header-link formats stretched-link" href="/formats.html">Formats</a>

 </div>

 <div class="col-12 col-sm-3 col-md sub-header-col col-tags">

     <a id="" class="sub-header-link tags stretched-link" href="/tags.html">Tags</a>

 </div>

 <div class="col-12 d-sm-none d-md-block col-sm-3 col-md sub-header-col col-resources">

     <a id="" class="sub-header-link resources stretched-link" href="/resources.html">Resources</a>

 </div>
