<div class="col-10 col-md-9 col-lg-10 nav-col">
  <a class="sub-header-link artefacts" href="/pages/artefacts.html">artefacts</a>
  <a class="sub-header-link authors" href="/pages/authors.html">Authors</a>
  <a class="sub-header-link origins" href="/pages/origins.html">Origins</a>
  <br class="d-sm-none" />
  <a class="sub-header-link publishers" href="/pages/publishers.html">Publishers</a>
  <a class="sub-header-link disciplines" href="/pages/disciplines.html">Disciplines</a>
  <br class="d-none d-sm-block d-md-none" />
  <a class="sub-header-link years" href="/pages/years.html">Years</a>
  <br class="d-sm-none" />
  <a class="sub-header-link formats" href="/pages/formats.html">Formats</a>
  <a class="sub-header-link tags" href="/pages/tags.html">Tags</a>
  <a class="sub-header-link resources" href="/pages/resources.html">Resources</a>
</div>
