<div class="col-7 col-sm-7 col-md-8 col-lg-8 nav-col">
  <a class="sub-header-link artefacts" href="/pages/artefacts.html">artefacts</a
  ><a class="sub-header-link authors" href="/pages/authors.html">Authors</a
  ><a class="sub-header-link origins" href="/pages/origins.html">Origins</a><br class="d-sm-none" /><a
    class="sub-header-link publishers"
    href="/pages/publishers.html"
    >Publishers</a
  ><a class="sub-header-link disciplines" href="/pages/disciplines.html">Disciplines</a
  ><a class="sub-header-link years" href="/pages/years.html">Years</a><br class="d-sm-none" /><a
    class="sub-header-link formats"
    href="/pages/formats.html"
    >Formats</a
  ><a class="sub-header-link tags" href="/pages/tags.html">Tags</a
  ><a class="sub-header-link resources" href="/pages/resources.html">Resources</a>
</div>

<div class="col-2 col-sm-3 col-md-2 col-lg-2 byline-col">
  <a
    class="sub-header-link santos"
    href="https://dat-rs.com?utm_source=soldesignarchive&utm_medium=ref&utm_content=top_byline"
    >An Office Santos prj</a
  >
</div>
