<div class="outer-container prev-next">
  <section class="container-md prev-next">
    <div class="row datum-section prev-next">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <h3 class="title datum-title more">More</h3>
      </div>
      {% if prevurl %}

      <div class="col-12 col-sm-4 col-md-5 col-lg-4 col-xl-3 datum-right-col prevnext">
        <span class="prev-next-label">Previous Artifact</span>

        <a class="a-module sm grid" href="{{ prevurl | escape_once }}">
          <div class="a-module-img-holder">
            {% if page.previous.image_count %}
            <i class="bi bi-images a-module-corner-icon"></i>
            {% endif %} {% if page.previous.published == false %}
            <img class="a-module-img" src="/images/non-art/black-square.png" alt="" />
            {% else %}
            <img
              class="a-module-img"
              src="/images/{{ page.previous.ref }}-{{ page.previous.slug }}-thumbnail.jpg"
              alt=""
            />
            {% endif %}
          </div>
          <div class="a-module-content">
            <h2 class="title au-y">{{ page.previous.title }}</h2>
            <span class="a-module-deets author">{{ page.previous.author_name | join: ', ' }}</span>
            <span class="a-module-deets year"
              >{% if page.previous.circa %}<span class="deet-link year circa">c.</span>{% endif %}{{ page.previous.year
              | remove_first: "y" }}</span
            >
          </div>
        </a>
      </div>
      {% endif %} {% if nexturl %}

      <div class="col-12 col-sm-4 col-md-5 col-lg-4 col-xl-3 datum-right-col prevnext">
        <span class="prev-next-label">Next Artifact</span>

        <a class="a-module sm grid" href="{{ nexturl | escape_once }}">
          <div class="a-module-img-holder">
            {% if page.next.image_count %}
            <i class="bi bi-images a-module-corner-icon"></i>
            {% endif %} {% if page.next.published == false %}
            <img class="a-module-img" src="/images/non-art/black-square.png" alt="" />
            {% else %}
            <img class="a-module-img" src="/images/{{ page.next.ref }}-{{ page.next.slug }}-thumbnail.jpg" alt="" />
            {% endif %}
          </div>
          <div class="a-module-content">
            <h2 class="title au-y">{{ page.next.title }}</h2>
            <span class="a-module-deets author">{{ page.next.author_name | join: ', ' }}</span>
            <span class="a-module-deets year"
              >{% if page.next.circa %}<span class="deet-link year circa">c.</span>{% endif %}{{ page.next.year |
              remove_first: "y" }}</span
            >
          </div>
        </a>
      </div>

      {% endif %}
    </div>
  </section>
</div>
