    <div class="container">
      <div class="row rainbow align-items-{{ include.start-end-switch}}">
        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/segunda-vitoria/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0255-segunda-vitoria-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/artes-e-tradicoes-de-barcelos/">
            <div class="a-module-img-holder">
              <img
                class="a-module-img"
                src="/images/sm/sol-030-0105-artes-e-tradicoes-de-barcelos-sm.jpg"
                alt=""
              />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/sir-jerry-detective/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-010-0015-sir-jerry-detective-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/o-sobreiro/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0169-o-sobreiro-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/radio/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0189-radio-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/francos/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0207-francos-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="/artefacts/expressao/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0187-expressao-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/introducao-ao-pensamento-de-teilhard-de-chardin/">
            <div class="a-module-img-holder">
              <img
                class="a-module-img"
                src="/images/sm/sol-030-0118-introducao-ao-pensamento-de-teilhard-de-chardin-sm.jpg"
                alt=""
              />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/home-entre-herois/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-130-0001-home-entre-herois-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/obreiros-de-quatro-imperios/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0166-obreiros-de-quatro-imperios-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/vale-ira/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-030-0179-vale-ira-sm.jpg" alt="" />
            </div>
          </a>
        </div>

        <div class="col-1">
          <a class="a-module sm grid" href="artefacts/folklore-belge/">
            <div class="a-module-img-holder">
              <img class="a-module-img" src="/images/sm/sol-121-0007-folklore-belge-sm.jpg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
