<div class="container-fluid rainbow">

    <div class="row rainbow">

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/segunda-vitoria/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0255-segunda-vitoria-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/artes-e-tradicoes-de-barcelos/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0105-artes-e-tradicoes-de-barcelos-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/sir-jerry-detective/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-010-0015-sir-jerry-detective-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/o-sobreiro/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0169-o-sobreiro-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/radio/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0189-radio-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/francos/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0207-francos-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/expressao/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0187-expressao-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/introducao-ao-pensamento-de-teilhard-de-chardin/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0118-introducao-ao-pensamento-de-teilhard-de-chardin-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/home-entre-herois/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-130-0001-home-entre-herois-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/obreiros-de-quatro-imperios/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0166-obreiros-de-quatro-imperios-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/vale-ira/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0179-vale-ira-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/folklore-belge/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-121-0007-folklore-belge-tile.jpg" alt="">
                </div>
            </a>

        </div>

    </div>

    <!-- ROW 2 -->

    <div class="row rainbow-2">

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/almanaque-15-dec-1960-jan-1961/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-320-0007-almanaque-15-dec-1960-jan-1961-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/light-august/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0224-light-august-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/surpresas-pos-industrial/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0177-surpresas-pos-industrial-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/quem-casa-quer-casa/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0139-quem-casa-quer-casa-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/historia-electricidade/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0172-historia-electricidade-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/as-estruturas-do-acaso/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0062-as-estruturas-do-acaso-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="/artifacts/a-horta/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0124-a-horta-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/expressao-paisagem/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0185-expressao-paisagem-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/almanaque-14-nov-1960/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-320-0006-almanaque-14-nov-1960-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/processo-virgens/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0191-processo-virgens-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/mountolive/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0047-mountolive-tile.jpg" alt="">
                </div>
            </a>

        </div>

        <div class="col-1">

            <a class="a-module sm grid" href="artifacts/a-grande-burla/">
                <div class="a-module-img-holder">
                    <img class="a-module-img" src="/images/tiles/sol-030-0019-a-grande-burla-tile.jpg" alt="">
                </div>
            </a>

        </div>

    </div>

</div>