{% assign min = 1 %} {% assign max = site.artifacts.size %} {% assign diff = max | minus: min %} {% assign randomNumber
= "now" | date: "%N" | modulo: diff | plus: min %} {% assign feature_random_artifacts = site.artifacts | slice:
randomNumber %} {% assign feature_random_artifacts_2 = feature_random_artifacts | slice: 0, 1 %} {% for artifact in
feature_random_artifacts_2 %}

<div class="container-fluid container-random-feature">
  <div class="container-md">
    <div class="row datum-section title random-feature">
      <div class="col-12 datum-right-col">
        <div class="artifact-img-container random-feature">
          <a href="/artifacts/{{ artifact.slug }}">
            <img
              class="artifact-img random-feature"
              src="/images/{{ artifact.ref }}-{{ artifact.slug }}.jpg"
              alt="{{ artifact.title }}"
            />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 datum-left-col random-feature-text">
        <h3 class="cat-label random-feature index">Random feature</h3>
        <a class="title link random-feature" href="/artifacts/{{ artifact.slug }}">
          <h2 class="title artifact self datum random-feature">{{ artifact.title }}</h2>
        </a> <br>
        <span class="deet random-feature">{{ artifact.year | remove_first: 'y' | replace: '-', ' ' }}</span>
      </div>
    </div>
  </div>
</div>

{% endfor %}
