{% assign related_artefacts = site.artefacts | where: 'related_posts', page.title %}
<div class="container-fluid post-artefacts">
  <div class="row datum-section post-artefacts top-border">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title cat-artefacts">
        Related artefacts
        <span class="artefact-count">[{{ related_artefacts.size }}]</span>
      </h3>
    </div>
    <div class="col-12 col-sm-9 col-md-10 datum-right-col">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artefacts-gutters">
        {% for artefact in related_artefacts %}

        <div class="col">{% include a-modules/a-module-au-y.html %}</div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- RELATED -->
<div class="container-fluid post-related-other">
  {% if page.related_authors or page.related_publishers or page.related_tags %}
  <div class="row datum-section related top-border">
    {% if page.related_authors %}
    <!-- authors, RELATED -->
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label author">Related Authors</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 col-xl-7 datum-right-col related-links">
      {% for related_author in page.related_authors %}
      <a href="/authors/{{ related_author | escape_once }}" class="related-link author">{{ related_author }}</a>
      {% endfor %}
    </div>
    <div class="w-100"></div>
    {% endif %} {% if page.related_publishers %}
    <!-- publishers, RELATED -->
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label publisher">Related Publishers/Clients</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 col-xl-7 datum-right-col related-links">
      {% for related_publisher in page.related_publishers %}
      <a href="/publishers/{{ related_publisher | escape_once }}" class="related-link publisher"
        >{{ related_publisher }}</a
      >
      {% endfor %}
    </div>
    <div class="w-100"></div>

    {% endif %} {% if page.related_tags %}
    <!-- tags, RELATED -->
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label tag">Related Tags</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 col-xl-7 datum-right-col related-links">
      {% for related_tag in page.related_tags %}
      <a href="/tags/{{ related_tag | escape_once }}" class="related-link tag">{{ related_tag }}</a>
      {% endfor %}
    </div>
    <div class="w-100"></div>
    {% endif %}
  </div>
</div>
{% endif %}
