<div class="row datum-section resources">
  <div class="col-12 col-sm-3 col-md-2 datum-left-col">
    <h3 class="title datum-title resources">Resources</h3>
  </div>
  <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col"></div>
</div>

{% for resource in filtered_resources %} {% case resource.type %} {% when 'article' %} {% assign i_class =
'bi-file-earmark-text' %} {% when 'at-archive' %} {% assign i_class = 'bi bi-archive' %} {% when 'presentation' %} {%
assign i_class = 'bi bi-file-easel' %} {% when 'pdf' %} {% assign i_class = 'bi-file-earmark-pdf' %} {% when 'video' %}
{% assign i_class = 'bi-file-earmark-play' %} {% when 'image' %} {% assign i_class = 'bi-file-earmark-image' %} {% when
'download' %} {% assign i_class = 'bi-file-earmark-download' %} {% when 'book' %} {% assign i_class = 'bi-book' %} {%
else %} {% assign i_class = 'bi bi-file-earmark-text' %} {% endcase %}

<div class="datum-row row">
  <div class="col-1 col-sm-3 col-md-2 datum-left-col">
    <div class="resource-icon">
      <i class="bi {{ i_class }}"></i>
    </div>
  </div>

  <div class="col-11 col-sm-9 col-lg-7 col-xl-6 datum-right-col">
    <div class="resource-module">
      <div class="resource-info">
        <h2 class="title resource inmodule">
          <a class="resource-link" href="{{ resource.out_url }}">{{ resource.title }}</a>
        </h2>

        <br />
        <section class="resource-description">
          {{ resource.description | remove: '
          <p>' | remove: '</p>
          ' }}
          <span class="resource-para-tags"
            >[{{ resource.lang | remove: '
            <p>' | remove: '</p>
            ' }}] {% if resource.offline %}[{{ resource.offline }}]{% else %}[online]{% endif %}</span
          >
        </section>
      </div>
    </div>
  </div>
</div>

{% endfor %}
