    <div class="container-fluid sub-header">

        <div class="row">

           <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-artifacts collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link artifacts" href="/artifacts.html">Artifacts</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-authors collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link authors" href="/authors.html">Authors</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-origins collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link origins" href="/origins.html">Origins</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-publishers collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link publishers" href="/publishers.html">Publishers</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-years collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link years" href="/years.html">Years</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-types collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link types" href="/types.html">Types</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-tags collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link tags" href="/tags.html">Tags</a>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg sub-header-col col-resources collapse sub-headers-collapse d-sm-block">

                <a id="" class="sub-header-link resources" href="/resources.html">Resources</a>

            </div>

        </div>

    </div>
