<div class="container-fluid sub-header-backoffice first-after-header">
  <div class="row sub-header-backoffice">
    <div id="db-search" class="col-6 col-xxl-4">
      <input type="text" class="quicksearch backoffice" placeholder="Search" />
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg button-group sort-by-button-group">
      <button class="button backoffice left" data-sort-value="original-order">ref 0-9</button>
      <button class="button backoffice middle" data-sort-value="reference">ref. 9-0</button>
      <button class="button backoffice middle" data-sort-value="title">A-Z</button>
      <button class="button backoffice middle" data-sort-value="year">Year</button>
      <button class="button backoffice middle" data-sort-value="date">Latest updated</button>
      <button class="button backoffice right" data-sort-value="status">Status</button>
    </div>
  </div>

  <div class="row faux-table-head-row">
    <div class="col-1 faux-table-head-col">Image</div>
    <div class="col-3 faux-table-head-col">Artefact</div>
    <div class="col-2 faux-table-head-col">Authors/Publishers/Year/Origin</div>
    <div class="col-3 faux-table-head-col">Formats/Disciplines/Tags</div>
    <div class="col-2 faux-table-head-col">Info</div>
  </div>
</div>
