<div class="container-fluid ticker">
  <div class="row ticker-wrapper">
    <div class="ticker-move">
      <div class="ticker-element">
        <h3 class="ticker-section sun blog">Blog</h3>
        <h3 class="ticker-title">Um Dia com... Sebastião Rodrigues</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun artifacts">Just in</h3>
        <h3 class="ticker-title">Erik Nitsche's History of Communication</h3>
        <h3 class="ticker-title">A João Abel Manta cover for a memoir</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun resources">Recently Linked</h3>
        <h3 class="ticker-title">Paul Bacon's archive at RIT</h3>
        <h3 class="ticker-title">Sebastião Rodrigues's work for the Calouste Gulbenkian Foundation</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun tags">Random Tags</h3>
        <h3 class="ticker-title">gastronomy</h3>
        <h3 class="ticker-title">propaganda</h3>
        <h3 class="ticker-title">Univers</h3>
      </div>

      <div class="ticker-element">
        <h3 class="ticker-section sun blog">Blog</h3>
        <h3 class="ticker-title">Um Dia com... Sebastião Rodrigues</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun artifacts">Just in</h3>
        <h3 class="ticker-title">Erik Nitsche's History of Communication</h3>
        <h3 class="ticker-title">A João Abel Manta cover for a memoir</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun resources">Recently Linked</h3>
        <h3 class="ticker-title">Paul Bacon's archive at RIT</h3>
        <h3 class="ticker-title">Sebastião Rodrigues's work for the Calouste Gulbenkian Foundation</h3>
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun tags">Random Tags</h3>
        <h3 class="ticker-title">gastronomy</h3>
        <h3 class="ticker-title">propaganda</h3>
        <h3 class="ticker-title">Univers</h3>
      </div>
    </div>
  </div>
</div>
