<div class="container-fluid ticker">
  <div class="row ticker-wrapper">
    <div class="ticker-move">
      <div class="ticker-element">
        <h3 class="ticker-section sun blog">Blog</h3>
        {% assign ticker_latest_posts = site.posts | slice: 0, 1 %}

          {% for post in ticker_latest_posts %}
          <h3 class="ticker-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {% endfor %}
      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun artifacts">Just in</h3>
        {% assign ticker_latest_artifacts = site.artifacts | sort: 'date_added' | reverse | slice: 0, 3 %}

          {% for artifact in ticker_latest_artifacts %}
          <h3 class="ticker-title"><a href="/artifacts/{{ artifact.slug }}">{{ artifact.title }}</a></h3>
          {% endfor %}

      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun resources">Recently Linked</h3>

        {% assign ticker_latest_resources = site.resources | sort: 'date_added' | reverse | slice: 0, 3 %}

          {% for resource in ticker_latest_resources %}
          <h3 class="ticker-title"><a href="{{ resource.out_url }}">{{ resource.name }}</a></h3>
          {% endfor %}

      </div>
      <div class="ticker-element">
        <h3 class="ticker-section sun tags">Random Tags</h3>

        {% assign ticker_random_tags = site.tags | sort: 'date_added' | reverse | slice: 0, 3 %}

          {% for tag in ticker_random_tags %}
          <h3 class="ticker-title"><a href="{{ tag.url }}">{{ tag.name }}</a></h3>
          {% endfor %}

      </div>

      <div class="ticker-element">
        <h3 class="ticker-section sun blog">Blog</h3>
        {% assign ticker_latest_posts = site.posts | slice: 0, 1 %}

          {% for post in ticker_latest_posts %}
          <h3 class="ticker-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {% endfor %}
      </div>

      <div class="ticker-element">
        <h3 class="ticker-section sun blog">Blog</h3>
        {% assign ticker_latest_posts = site.posts | slice: 0, 1 %}

          {% for post in ticker_latest_posts %}
          <h3 class="ticker-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          {% endfor %}
      </div>

    </div>
  </div>
</div>
