
<a class="a-module sm grid" href="{{ artifact.url }}">
    <div class="a-module-img-holder">
      {% if artifact.image_count %}
        <i class="bi bi-images a-module-corner-icon"></i>
      {% endif %}
      {% if artifact.published == false %}
      <img class="a-module-img" src="/images/non-art/black-square.png" alt="">
      {% else %}
      <img class="a-module-img" src="/images/sol-{{ artifact.ref_group }}-{{ artifact.ref_id }}-{{ artifact.slug }}-thumbnail.jpg" alt="">
      {% endif %}
    </div>
    <div class="a-module-content">
      <h2 class="title au-y">{{ artifact.title }}</h2>
      <span class="a-module-deets author">{{ artifact.author_name | join: ', ' }}</span>
    </div>

    

</a>
