
  <div class="a-module-img-holder square {{ include.modifier }}">
    {% if artefact.image_count %}
    <i class="bi bi-images a-module-corner-icon"></i>
    {% endif %} {% if artefact.published == false %}
    <img class="a-module-img {{ include.modifier }}" src="/images/non-art/black-square.png" alt="" />
    {% else %}
    <img
      class="a-module-img {{ include.modifier }}"
      src="/images/sm/sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}-{{ artefact.slug }}-sm.jpg"
      alt=""
    />
    {% endif %}
  </div>
