<a class="a-module sm grid" href="{{ artefact.url }}">
  <div class="a-module-img-holder square">
    {% if artefact.image_count %}<i class="bi bi-images a-module-corner-icon"></i>{% endif %} {% if artefact.published
    == false %}
    <img class="a-module-img large" src="/images/non-art/black-square.png" alt="" />
    {% else %}
    <img
      class="a-module-img large"
      src="/images/sm/sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}-{{ artefact.slug }}-sm.jpg"
      alt="" />
    {% endif %}
  </div>
  <div class="a-module-content">
    <h2 class="title au-y">{{ artefact.title }}</h2>
    <span class="a-module-deets author">{{ artefact.author_name | join: ', ' }}</span>
    <span class="a-module-deets year"
      >{% if artefact.circa %}<span class="deet-link year circa">c. </span>{% endif %}{{ artefact.year | remove_first:
      "y" | replace: '-', ' ' }}</span
    >
    {% if include.staging == true %}
    <span class="a-module-deets batch paratext">{{ artefact.batch }}</span>
    {% endif %}
  </div>
</a>
