
  <a class="a-module sm grid" href="{{ artefact.url }}">
      <div class="a-module-img-holder square">
        {% if artefact.image_count %}
          <i class="bi bi-images a-module-corner-icon"></i>
        {% endif %}
        {% if artefact.published == false %}
      <img class="a-module-img" src="/images/non-art/black-square.png" alt="">
      {% else %}
      <img class="a-module-img" src="/images/sm/sol-{{ artefact.ref_group }}-{{ artefact.ref_id }}-{{ artefact.slug }}-sm.jpg" alt="">
      {% endif %}
      </div>
      <div class="a-module-content">
        <h2 class="title">{{ artefact.title }}</h2>
      </div>

      

  </a>
