
  <a class="a-module grid" href="{{ artifact.url }}">
      <h2 class="title">{{ artifact.title }}</h2>
      <div class="a-module-img-holder">
        {% if artifact.image_count %}
          <i class="bi bi-images a-module-corner-icon"></i>
        {% endif %}
        {% if artifact.published == false %}
      <img class="a-module-img" src="/images/non-art/black-square.png" alt="">
      {% else %}
      <img class="a-module-img" src="/images/{{ artifact.ref }}-{{ artifact.slug }}-thumbnail.jpg" alt="">
      {% endif %}
      </div>

  </a>
