<a class="a-module grid {{ include.modifier }}" href="{{ artifact.url }}">
  <div class="a-module-img-holder {{ include.modifier }}">
    {% if artifact.image_count %}
    <i class="bi bi-images a-module-corner-icon"></i>
    {% endif %} {% if artifact.published == false %}
    <img class="a-module-img {{ include.modifier }}" src="/images/non-art/black-square.png" alt="" />
    {% else %}
    <img
      class="a-module-img {{ include.modifier }}"
      src="/images/{{ artifact.ref }}-{{ artifact.slug }}-thumbnail.jpg"
      alt=""
    />
    {% endif %}
  </div>
</a>
