---
layout: default
title: rsda | authors
pagination:
  enabled: true
  collection: artifacts
permalink: /scooby/
---

   <div class="container-fluid container-browse" style="background-color: black;">

    <div class="row no-gutters">

        <div class="col-12">

            <h3 class="section-title">Artifacts</h3>

        </div>

            {% for artifact in paginator.posts %}

              <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <a class="a-module grid" href="{{ artifact.url }}">
                  <div class="a-module-img-holder">
                      <img class="grid-img" src="/images/{{ artifact.ref }}-{{ artifact.slug }}-thumbnail.jpg" alt="{{ artifact.title }}">
                  </div>
                </a>
              </div>
            {% endfor %}
    </div>
</div>

<div class="container">

  {% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a><br>
    {{ paginator.next_page_path | prepend: site.baseurl }} <br>
    {{ paginator.next_page_path }}
  </li>
  {% endif %}
</ul>
{% endif %}


</div>
