@font-face {
  font-family: "Cru X Condensed";
  font-style: normal;
  src: local("cru-x-condensed-black-trial.otf"), url("/fonts/trial/cru-x-condensed-black-trial.otf") format("opentype");
}

@font-face {
  font-family: "Cru Condensed";
  font-style: normal;
  src: local("cru-condensed-black-trial.otf"), url("/fonts/trial/cru-x-condensed-black-trial.otf") format("opentype");
}

@font-face {
  font-family: "Cru Semi Condensed";
  font-style: normal;
  src: local("cru-semi-condensed-black-trial.otf"),
    url("/fonts/trial/cru-x-condensed-black-trial.otf") format("opentype");
}

@font-face {
  font-family: "Cru";
  font-style: normal;
  src: local("cru-black-trial.otf"), url("/fonts/trial/cru-x-condensed-black-trial.otf") format("opentype");
}
