---
title: "Artifacts - Sol Design Archive"
description: "Browse all artifacts in the archive."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description page-meta-image=page.image %}

   <div class="container-fluid container-artifacts-1">

{% include artifacts-filters.html %}

  </div>

<div class="container-fluid container-artifacts-2">

    <div id="artifacts-grid-row" class="row no-gutters">

            {% for artifact in site.artifacts %}

              <div class="artifact-grid-col col-4 col-sm-4 col-md-3 col-lg-2 col-xl-1 {{ artifact.formats | join: " " }} {{ artifact.disciplines | join: " " }} {{ artifact.year }} {{ artifact.origin | join: " " }}">
                <h2 class="ghost-info">{{ artifact.title }}</h2>
                <p class="ghost-info">{{ artifact.author_name | join: " " }}</p>
                <a class="a-module grid" href="{{ artifact.url }}">
                  <div class="a-module-img-holder mason">
                    {% if artifact.published == false %}
                    <img class="grid-img" loading="lazy" src="/images/non-art/empty-tile.png">
                    {% else %}
                    <img class="grid-img" loading="lazy" src="/images/tiles/{{ artifact.ref }}-{{ artifact.slug }}-tile.jpg"
                      alt="{{ artifact.title }}">
                    {% endif%}
                  </div>
                </a>
              </div>
            {% endfor %}
    </div>
</div>

{% include footer.html %}
{% include scripts/scripts-artifacts.html %}
{% include the-end.html %}