---
title: "Authors - Sol Design Archive"
description: "Browse all authors in the archive."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %}

<div class="container-fluid authors first-after-header">
  <div class="container container-allcats">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Authors</h3>
      </div>

      <div class="col-12">
        <input type="text" class="quicksearch cats" placeholder="Search" />
      </div>

      <div class="col-12 authors" id="isotope-container">
        {% for author in site.authors %} {% assign filtered_artifacts = site.artifacts | where: 'author_name',
        author.name %}

        <h2 class="title allcat page authors isotope-element">
          <a class="browse-link index" href="{{ author.url }}"
            >{{ author.name }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a
          >
        </h2>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include scripts/scripts-cats.html %} {% include the-end.html %}
