---
title: "Authors - Sol Design Archive"
description: "Browse all authors in the archive."
image: "/images/non-art/sol-authors-comp.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %}

{% assign pub_artifacts = site.artifacts | where: 'published', true %}

<div class="container-outer authors first-after-header">
  <div class="container-md container-allcats">
    <div class="row datum-section allcats">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <div class="left-col-fixed">
        <!-- <img class="allcats-icon" src="/images/non-art/icon-authors-ossm-off1.svg" alt=""> -->
          <h3 class="section-title allcats">Authors</h3>
        </div>
      </div>

      <div id="category-list" class="col-12 col-sm-9 col-md-10 datum-right-col allcats-search">
        <div class="outer-search allcats">
          <input class="search quicksearch cats authors" placeholder="Search" />
        </div>
       <div class="list">
        {% assign pub_authors = site.authors | where: 'published', true %}
         {% for author in pub_authors %}
         {% assign filtered_artifacts = pub_artifacts | where: 'author_name', author.name %}
          <div style="display: inline-block;">
            <a class="name title allcat-item author isotope-element" href="{{ author.url }}">{{ author.name }}<span
                class="cat-count smaller">[{{ filtered_artifacts.size }}]</span></a>
          </div>
          
        {% endfor %}
       </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include scripts/scripts-cats.html %} {% include the-end.html %}
