---
title: "Blog - Sol Design Archive"
description: "Posts about anything and everything related to the archive's artifacts and the graphic arts in general."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %}

<div class="container-fluid container-blog first-after-header">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Blog</h3>
      </div>

      {% for post in site.posts %}

      <div class="col-12 col-md-8 col-lg-6">
        <div class="card blog">
          <a class="card-link blog" href="{{ post.url }}">
            <img class="card-img-top blog" src="/images/blog_posts/{{ post.image }}" alt="{{ post.title }}" />
            <div class="card-body blog">
              <h2 class="title blog preview">{{ post.title }}</h2>
              <p class="post-lead preview">{{ post.lead }}</p>
            </div>
            <div class="card-footer blog">
              <p class="post-meta preview">{{ post.author }} | {{ post.date | date_to_string }}</p>
            </div>
          </a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
<div class="container-fluid container-shorts-section">
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Shorts</h3>
      </div>

      {% assign shorts = site.shorts | sample: 3 %} 
      
      {% for short in shorts %}
      <div class="col-12 col-lg-4">
        <div class="card-deck">
          <div class="card blog">
            <a class="card-link blog" href="{{ short.url }}">
              <img class="card-img-top blog" src="/images/blog_posts/{{ short.image }}" alt="{{ short.title }}" />
              <div class="card-body blog">
                <h2 class="title short preview">{{ short.title }}</h2>
                <p class="post-lead short preview">{{ short.lead }}</p>
              </div>
              <div class="card-footer blog">
                <p class="post-meta preview">{{ short.author }} | {{ short.date | date_to_string }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn cta circle see-all" href="/pages/blog.html" role="button">See all<br />posts <br />→</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
