---
title: "Disciplines - Sol Design Archive"
description: "Browse the archive by discipline."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.description page-meta-image=page.image %}

<div class="disciplines holder">

    <div class="container container-allcats">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Disciplines</h3>

        </div>

        <div class="col-12">

        {% for discipline in site.disciplines %}
        {% assign filtered_artifacts = site.artifacts | where: 'disciplines', discipline.name %}

            <h2 class="title allcat page disciplines capitalize">
              <a class="browse-link discipline" href="{{ discipline.url }}">{{ discipline.name | replace: "-", " " }}</a>
              <span class="cat-count">{{ filtered_artifacts.size }}</span>
            </h2>

        {% endfor %}
        </div>
    </div>
</div>

</div>

{% include footer.html %}
{% include the-end.html %}
