---
title: "Disciplines - Sol Design Archive"
description: "Browse the archive by discipline."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %}

{% assign pub_artifacts = site.artifacts | where: 'published', true %}

<div class="container-outer disciplines first-after-header">
  <div class="container-md container-allcats">
    <div class="row datum-section allcats">
      <div class="col-12 col-md-2 datum-left-col">
        <div class="left-col-fixed">
          <h3 class="section-title allcats text-center">Disciplines</h3>
        </div>
      </div>
      <div class="col-12 col-md-8 datum-right-col allcats-big-short row">
        {% for discipline in site.disciplines %} 
        {% assign filtered_artifacts = pub_artifacts | where: 'disciplines', discipline.name %}
          <div class="col-12 allcat big {% if forloop.first == true %}first{% endif %} text-wrap text-center text-md-start">
            <a class="title allcat-item discipline capitalize text-wrap" href="{{ discipline.url }}"><span
                class="cat-count discipline fake d-md-none">[{{ filtered_artifacts.size }}]</span>{{ discipline.name |
              remove_first: " " | replace: "-", " " }}<span class="cat-count discipline">[{{ filtered_artifacts.size
                }}]</span></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



  {% include footer.html %} {% include the-end.html %}
</div>
