---
title: "Formats - Sol Design Archive"
description: "Browse the archive by format."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=page.description
page-meta-image=page.image %}

{% assign pub_artifacts = site.artifacts | where: 'published', true %}

<div class="container-outer formats first-after-header">
  <div class="container-md container-allcats">
    <div class="row datum-section allcats">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <div class="left-col-fixed">
          <h3 class="section-title allcats">Formats</h3>
        </div>
      </div>
      <div class="col-12 col-sm-9 col-md-10 datum-right-col allcats-big-short row">
        {% for format in site.formats %} 
        {% assign filtered_artifacts = pub_artifacts | where: 'formats', format.name %} 
        {% unless filtered_artifacts.size == 0 %}
          <div class="col-12 allcat big {% if forloop.first == true %}first{% endif %} text-wrap">
            <a class="title allcat-item format capitalize text-wrap" href="{{ format.url }}">{{ format.name |
              remove_first: " " | replace: "-", " " }}<span class="cat-count format">[{{ filtered_artifacts.size
                }}]</span></a>
          </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
