---
title: "Resources - Sol Design Archive"
description: "Browse all resources."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.description page-meta-url=page.url
page-meta-image=page.image %}

<div class="container-outer resources first-after-header">
  <div class="container-md container-allcats">
    <div class="row datum-section title years">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <div class="left-col-fixed">
          <h3 class="section-title allcats text-center">Resources</h3>
        </div>
      </div>

      <div id="category-list" class="col-12 col-md-10 datum-right-col allcats-w-icon-search">
        <div class="outer-search allcats">
          <input class="search quicksearch cats authors" placeholder="Search" />
        </div>
        <div class="list">
        {% for resource in site.data.resources %}
        <div>
            <a class="name title allcat-item resource isotope-element" href="{{ resource.out_url }}">{{ resource.title }}</a>
        </div>
        {% endfor %}
      </div>
      </div>

      
    </div>
  </div>
</div>

{% include footer.html %} {% include scripts/scripts-cats.html %} {% include the-end.html %}
