---
title: "Shorts - Sol Design Archive"
description: "Short notes highlighting interesting stuff online related to graphic design history."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.description page-meta-url=page.url page-meta-image=page.image %}

   <div class="container blog first-after-header">

    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Shorts</h3>

        </div>

        {% for short in site.shorts %}

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card-deck">
              <div class="card blog">
                <a class="card-link blog" href="{{ short.url }}">
                  <img class="card-img-top blog" src="{{ short.image }}" alt="{{ short.title }}">
                  <div class="card-body blog">
                    <h2 class="title short preview">{{ short.title }}</h2>
                    <p class="post-lead preview">{{ short.lead }}</p>
                  </div>
                  <div class="card-footer blog">
                    <p class="post-meta preview">{{ short.author }} | {{ short.date | date_to_string }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>

        {% endfor %}


    </div>
</div>

{% include footer.html %}
{% include the-end.html %}
