---
title: "Tags - Sol Design Archive"
description: "Browse the archive by tags."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.name page-meta-description=page.description page-meta-url=page.url
page-meta-image=page.image %} {% assign pub_artefacts = site.artefacts | where: 'published', true %}

<!--  -->
{% assign typeface_tags = site.tags | where: "type", "typeface" %}
<!--  -->
{% assign descriptive_tags = site.tags | where: "type", "design_descriptive" %}
<!--  -->
{% assign collection_tags = site.tags | where: "type", "collection" %}
<!--  -->
{% assign subject_tags = site.tags | where: "type", "subject" %}
<!--  -->
{% assign people_tags = site.tags | where: "type", "person" %}

<div class="container-fluid allcats tags first-after-header">
  <div class="row datum-section allcats">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <div class="left-col-fixed">
        <h3 class="section-title allcats">Tags</h3>
      </div>
    </div>

    <div class="col-12 col-sm-9 col-md-10 datum-right-col allcats-search">
      <div class="subtags">
        <h4 class="sub-section-title subtag-label w-tags first">Typefaces</h4>
        {% for tag in typeface_tags %} {% assign filtered_artefacts = pub_artefacts | where: 'tags', tag.name %}
        <a class="title allcat-item tag" href="{{ tag.url }}"
          >{{ tag.name | replace: "-barra-", "/" }}<span class="cat-count smaller"
            >[{{ filtered_artefacts.size }}]</span
          ></a
        >
        {% endfor %}
      </div>

      <div class="subtags">
        <h4 class="sub-section-title subtag-label w-tags">Descriptives</h4>
        {% for tag in descriptive_tags %} {% assign filtered_artefacts = pub_artefacts | where: 'tags', tag.name %} {%
        unless filtered_artefacts.size == 0 %}
        <a class="title allcat-item tag" href="{{ tag.url }}"
          >{{ tag.name | replace: "-barra-", "/" }}<span class="cat-count smaller"
            >[{{ filtered_artefacts.size }}]</span
          >
        </a>
        {% endunless %} {% endfor %}
      </div>

      <div class="subtags">
        <h4 class="sub-section-title subtag-label w-tags">Collections</h4>

        {% for tag in collection_tags %} {% assign filtered_artefacts = pub_artefacts | where: 'tags', tag.name %} {%
        unless filtered_artefacts.size == 0 %}
        <a class="title allcat-item tag" href="{{ tag.url }}"
          >{{ tag.name | replace: "-barra-", "/" }}<span class="cat-count smaller"
            >[{{ filtered_artefacts.size }}]</span
          ></a
        >
        {% endunless %} {% endfor %}
      </div>

      <div class="subtags">
        <h4 class="sub-section-title subtag-label w-tags">Subjects</h4>

        {% for tag in subject_tags %} {% assign filtered_artefacts = pub_artefacts | where: 'tags', tag.name %} {%
        unless filtered_artefacts.size == 0 %}
        <a class="title allcat-item tag" href="{{ tag.url }}"
          >{{ tag.name | replace: "-barra-", "/" }}<span class="cat-count smaller"
            >[{{ filtered_artefacts.size }}]</span
          ></a
        >
        {% endunless %} {% endfor %}
      </div>

      <div class="subtags">
        <h4 class="sub-section-title subtag-label w-tags">People</h4>
        {% for tag in people_tags %} {% assign filtered_artefacts = pub_artefacts | where: 'tags', tag.name %} {% unless
        filtered_artefacts.size == 0 %}
        <a class="title allcat-item tag" href="{{ tag.url }}"
          >{{ tag.name | replace: "-barra-", "/" | replace: "-dot-", "." }}<span class="cat-count smaller"
            >[{{ filtered_artefacts.size }}]</span
          ></a
        >
        {% endunless %} {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include scripts/scripts-cats.html %} {% include the-end.html %}
