---
title: "Tags - Sol Design Archive"
description: "Browse the archive by tags."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.description page-meta-url=page.url page-meta-image=page.image %}

<div class="tags holder">

    <div class="container container-allcats">
    <div class="row">

        <div class="col-12">

            <h3 class="section-title">Tags</h3>

        </div>

        <!--
        <div class="col-12">

          <input type="text" class="quicksearch cats" placeholder="Search" />

        </div>
        -->

        <div class="col-12">
          <h3 class="cat-label allcats-subtag">Typefaces</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign typeface_tags = site.tags | where: "type", "typeface" %}

          {% for tag in typeface_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>

        <div class="col-12">
          <h3 class="cat-label allcats-subtag">Descriptives</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign subject_tags = site.tags | where: "type", "design_descriptive" %}

          {% for tag in subject_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>

        <div class="col-12">
          <h3 class="cat-label allcats-subtag">Publications/Collections</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign collection_tags = site.tags | where: "type", "collection" %}

          {% for tag in collection_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>

        <div class="col-12">
          <h3 class="cat-label allcats-subtag">Subjects</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign subject_tags = site.tags | where: "type", "subject" %}

          {% for tag in subject_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>


        <!--
        <div class="col-12">
          <h3 class="cat-label allcats-subtag">Colors</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign subject_tags = site.tags | where: "type", "color" %}

          {% for tag in subject_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>
        -->

        <div class="col-12">
          <h3 class="cat-label allcats-subtag">People</h3>
        </div>

        <div class="col-12" id="isotope-container">

          {% assign subject_tags = site.tags | where: "type", "person" %}

          {% for tag in subject_tags %}
          {% assign filtered_artifacts = site.artifacts | where: 'tags', tag.title %}

            <h2 class="title allcat page tags isotope-element">
              <a class="browse-link tag" href="{{ tag.url }}">{{ tag.title }}<span class="cat-count">{{ filtered_artifacts.size }}</span></a>
            </h2>

        {% endfor %}
        </div>


    </div>
</div>

</div>

{% include footer.html %}
{% include scripts/scripts-cats.html %}
{% include the-end.html %}
