---
title: "Years - Sol Design Archive"
description: "Browse the archive by date."
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.description page-meta-url=page.url
page-meta-image=page.image %}

<div class="container-fluid years first-after-header">
  <div class="container container-allcats">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title">Years</h3>
      </div>

      <div class="col-12">
        {% for year in site.years %} {% assign filtered_artifacts = site.artifacts | where: 'year', year.name %}

        <h2 class="title allcat page years">
          <a class="browse-link year" href="{{ year.url }}"
            >{{ year.title }}<span class="cat-count year">{{ filtered_artifacts.size }}</span></a
          >
        </h2>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
