---
layout: default
---

<!-- liquid code for previous/next artifact buttons -->
   
    {% capture the_collection %}{{page.collection}}{% endcapture %}

      {% if page.collection %}
        {% assign  document = site[the_collection] %}
      {% endif %}

    {% for links in document  %}
      {% if links.title == page.title %}
        {% unless forloop.first %}
          {% assign prevurl = prev.url %}
        {% endunless %}
        {% unless comics.last.url %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = next.url %}
        {% endunless %}
      {% endif %}
      {% assign prev = links %}
    {% endfor %}
   
   
    <div class="container container-artifact">
        
        <div class="row">
            
                <div class="col-12">
                    
                    <h2 class="title artifact">{{ page.title }}</h2>
                    
                </div>
               
                <div class="col-12 col-sm-10">
                    
                    <div class="artifact-img-container">
                        
                        <img class="artifact-img" src="{{ page.image_path }}" alt="{{ page.title }}">
                        
                    </div>
                    
                </div>
                
                <div class="col-12 col-sm-2">
                    
                    <p class="artifact-deets">
                        
                        <span class="deet-label">Author{% if page.tags.size > 1 %}s{% endif %}</span>
                        <a class="deet-link author" href="/authors/{{ page.author_slug }}">{{ page.author_name }}</a>
                        <br>
                        
                        <span class="deet-label hanging">Year</span>
                        <a class="deet-link year" href="/years/{{ page.year }}">{{ page.year }}</a>
                        {{ page.year }}
                        <br>
                        
                        <span class="deet-label hanging">Origin</span>
                        {{ page.origin }}
                        <br>
                        
                        <span class="deet-label hanging">Tagged</span>
                        {{ page.tags | sort | join: ", " }}
                        <br>
                        
                        <span class="deet-label hanging">Reference</span>
                        {{ page.ref }}
                    </p>
                    
                </div>
                
                <div class="col-12">
                  
                  {{ content }}
                  
                </div>    
            
            
        </div>
        
        <div class="row prev-next">
            
             {% if prevurl %}
               
               <div class="col-12 col-md-6 col-lg-3">
                   
                    <span class="prev-next-label">Previous Artifact</span>
                
                    <a class="prev-next-link" href="{{ prevurl }}">
                        <h2 class="title artifact">{{ page.previous.title }}</h2>
                        <img class="prev-next-img" src="{{ page.previous.thumbnail_image_path }}" alt="">
                    </a>
                
                    
                    
                </div>
                
            {% endif %}
               
            {% if nexturl %}
               
               <div class="col-12 col-md-6 col-lg-3">
               
                    <span class="prev-next-label">Next Artifact</span>
                
                    <a class="prev-next-link" href="{{ nexturl }}">
                        <h2 class="title artifact">{{ page.next.title }}</h2>
                        <img class="prev-next-img" src="{{ page.next.thumbnail_image_path }}" alt="">
                    </a>
                
                    
               
               </div>
               
            {% endif %}

        </div>
        
    </div>
