---
---

{% include header-artifact.html %}

<!-- liquid code for previous/next artifact buttons -->

    {% capture the_collection %}{{page.collection}}{% endcapture %}

      {% if page.collection %}
        {% assign  document = site[the_collection] %}
      {% endif %}

    {% for links in document  %}
      {% if links.title == page.title %}
        {% unless forloop.first %}
          {% assign prevurl = prev.url %}
        {% endunless %}
        {% unless comics.last.url %}
          {% assign next = document[forloop.index] %}
          {% assign nexturl = next.url %}
        {% endunless %}
      {% endif %}
      {% assign prev = links %}
    {% endfor %}



      {% if page.image_count %}
        {% include artifact-flick.html %}
        {% else %}
        {% include artifact-single.html %}
      {% endif %}

      <div class="container last-before-footer">

        <div class="row">

                <div class="col-12">

                    <h3 class="cat-label artifact">Artifact</h3>
                    <h2 class="title artifact self">{{ page.title }}</h2>


                </div>

        </div>

        <div class="row about">

                <div class="col-12 col-lg-8">



                  <h3 class="section-title">About</h3>
                  <section class="about-text">{{ content }}</section>
                  <section class="more-info-text">{% include additional-info.html %}</section>



                </div>

                <div class="col-12 offset-lg-2 col-lg-2 artifact-deets-col">

                  <h3 class="section-title">Details</h3>
                  {% include artifact-deets.html %}
                </div>


        </div>


        {% assign filtered_resources = site.resources | where: 'rel_artifacts', page.title %}
        {% assign filtered_resources_size = filtered_resources | size %}
        {% if filtered_resources_size > 0 %}
        <div class="row section artifact-resources">

          {% include resources-section.html %}

        </div>
        {% endif %}

        {% include prev-next.html %}

  </div>

  {% include footer-artifact.html %}
