---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% capture description %}{{ page.name }} at the Sol Design Archive.{% endcapture %} {% include head-and-header.html
page-meta-title=page.name page-meta-description=description page-meta-url=page.url page-meta-image=layout.image %}

{% assign pub_artifacts = site.artifacts | where: 'published', true %}
{% assign filtered_artifacts = pub_artifacts | where: 'author_name', page.name %}
{% assign one_artifact = filtered_artifacts | slice: 0, 1 %}
{% assign number = filtered_artifacts.size | divided_by: 2 %}


<div class="container-md container-author first-after-header">
  <div class="row datum-section title author">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="cat-label author">Author</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <h1 class="title artifact self datum" data-pagefind-meta="title" >{{ page.name }}</h1>
    </div>
  </div>

  <div class="row datum-section feature-img author align-items-end">

    <div class="col-12 col-sm-9 col-md-10 col-lg-9 col-xl-7 datum-right-col order-sm-last">
      {% if page.image_path %} 
      <figure class="feature-img artifact">
      <div class="artifact-holder">
        <img src="/images/{{ page.image_path }}" alt="">
      </div>
      </figure>
      {% else %}
          <figure class="feature-img artifact">
            <div class="artifact-holder">
              <img src="/images/sol-{{ filtered_artifacts[number].ref_group }}-{{ filtered_artifacts[number].ref_id }}-{{ filtered_artifacts[number].slug }}.jpg" alt="">
            </div>
          </figure>
      {% endif %}
    </div>

    <div class="col-12 col-sm-3 col-md-2 datum-left-col order-sm-first">
      <div class="caption bottomthenleft feature-img">
        {% if page.image_path %}
        {{ page.image_caption }}
        {% else %}
        {{ filtered_artifacts[number].title }} <br>
        ({{ filtered_artifacts[number].year | remove_first: 'y' }}) <br>
        sol-{{ filtered_artifacts[number].ref_group }}-{{ filtered_artifacts[number].ref_id }}
        {% endif %}
      </div>
    </div>


  </div>

  {% assign test_content = content | strip_newlines %} {% if test_content != "" %}

  <!-- ABOUT -->
  <div class="row datum-section about">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">About</h3>
    </div>

    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <section class="about-text">{{ content }}</section>
    </div>
  </div>
  {% endif %} {% if page.timeline_count %}

  <!-- TIMELINE -->
  <div class="row datum-section timeline top-border">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">Timeline</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col"></div>
  </div>
  {% assign timeline_count = page.timeline_count %}
  {% assign fixed_timeline_count = timeline_count | minus: 1 %}
  <!--  -->
  
  {% for timeline_element in (0..fixed_timeline_count) %}

  <div class="row datum-row timeline-row {% if forloop.last == true %}last{% endif %}">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="deet-label timeline-key">{{ page.timeline_keys[timeline_element] }}</span>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col timeline-value">
      {{ page.timeline_values[timeline_element] }}
    </div>
  </div>
  {% endfor %} {% endif %}

  <!-- SOURCES -->
  {% if page.sources_count %} {% assign sources_count = page.sources_count %}
  <div class="row datum-section sources top-border">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title sources">Sources</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <ol class="footnotes sources">
        {% for sources_element in (0..sources_count) %}
        <li>
          <a class="fn-link" href="{{ page.sources_links[sources_element] }}"
            >{{ page.sources_titles[sources_element] }}</a
          >
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endif %}

  <!-- RESOURCES -->
  {% assign filtered_resources = site.data.resources | where: 'rel_authors', page.name %} 
  {% assign filtered_resources_size = filtered_resources | size %} 
  {% if filtered_resources_size > 0 %} 
  {% include resources-section.html %} 
  {% endif %}



  <!-- RELATED -->

   {%- if page.rel_authors or page.rel_publishers or page.rel_tags != null -%}
   {%- assign at_least_one_rel = true -%}
   {%- else -%}
   {%- assign at_least_one_rel = false -%}
   {%- endif -%}

  {% if at_least_one_rel == true %}
  <div class="row datum-section related top-border">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">Related</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col"></div>
  </div>

  <!-- authors, RELATED -->
  {% unless page.rel_authors == null %}
  <div class="datum-row row related">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label author">Authors</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for rel_author in page.rel_authors %}
      <a href="/authors/{{ rel_author | escape_once }}" class="related-link author">{{ rel_author }}</a>
      {% endfor %}
    </div>
  </div>
  {% endunless %}

  <!-- publishers, RELATED -->
  {% unless page.rel_publishers == null %}
    <div class="datum-row row related">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <span class="related-label publisher">Publishers/Clients</span>
      </div>

      <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
        {% for rel_publisher in page.rel_publishers %}
        <a href="/publishers/{{ rel_publisher | escape_once }}" class="related-link publisher">{{ rel_publisher }}</a>
        {% endfor %}
      </div>
    </div>
  {% endunless %}

  <!-- tags, RELATED -->
  {% unless page.rel_tags == null %}
    <div class="datum-row row related">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <span class="related-label tag">Tags</span>
      </div>

      <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
        {% for rel_tag in page.rel_tags %}
        <a href="/tags/{{ rel_tag | escape_once }}" class="related-link tag">{{ rel_tag }}</a>
        {% endfor %}
      </div>
    </div>
  {% endunless %} 
  
  <div class="row datum-row related-end-spacer"></div>

  {% endif %}
</div>

{% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
<div class="outer-container cat-artifacts">
  <div class="container-md">
    <div class="row datum-section cat-artifacts">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <h3 class="title datum-title cat-artifacts">
          Artifacts
          <span class="artifact count">[{{ sorted_filtered_artifacts.size }}]</span>
        </h3>
      </div>
      <div class="col-12 col-sm-9 col-md-10 datum-right-col">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artifacts-gutters">
          {% for artifact in sorted_filtered_artifacts %}

          <div class="col">{% include a-modules/a-module-au-y.html %}</div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
