---
layout: default
---


<div class="container container-cat">

    <div class="row">

      <div class="col-12">

          <h3 class="cat-label author">Author</h3>
          <h2 class="title artifact self">{{ page.name }}</h2>


      </div>

    </div>

    <div class="row section about">

        {% assign striped_content = page.content | strip_newlines %}
            {% if striped_content != "" %}

            <div class="col-12 col-md-9 col-lg-8">



            <h3 class="section-title">About</h3>
            <section class="about-text">{{ content }}</section>

            </div>

        {% endif %}

    </div>

    <div class="row section author-artifacts">

        <div class="col-12">

            <h3 class="section-title">Artifacts</h3>

        </div>

                {% assign filtered_artifacts = site.artifacts | where: 'author_name', page.name %}
                  {% for artifact in filtered_artifacts %}

        <div class="col-12 col-md-6 col-lg-4">
                    <a class="a-module prev-next" href="{{ artifact.url }}">
                        <h2 class="title">{{ artifact.title }}</h2>
                        <div class="a-module-img-holder">
                            <img class="prev-next-img" src="{{ artifact.thumbnail_image_path }}" alt="">
                        </div>

                    </a>
        </div>
                  {% endfor %}

    </div>

    <div class="row section author-resources">

      <div class="col-12">

          <h3 class="section-title">Resources</h3>

          {% for resource in page.resources %}
          <p><a class="deet-link tag" href="/resources/{{ resource | escape_once }}">{{ resource }}</a></p>
          {% endfor %}
          <br>

      </div>

    </div>


    </div>


</div>
