---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% assign corrected_page_name = page.name | replace: "-", " " %} {% assign capitalised_page_name = corrected_page_name |
capitalize %} {% capture description %}Browse artifacts tagged «{{ page.name | replace: "-", " " }}» at the Sol Design
Archive.{% endcapture %} {% include head-and-header.html page-meta-title=capitalised_page_name page-meta-url=page.url
page-meta-description=description page-meta-image=layout.image %}

<!--  -->
{% assign filtered_artifacts = site.artifacts | where: 'disciplines', page.name %}
<!--  -->
{% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}

<div class="container-md container-cat first-after-header" data-pagefind-body >
  <div class="row datum-section title">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="cat-label origin">Discipline</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <h1 class="title artifact self datum capitalize" data-pagefind-meta="title" >{{ page.name | replace: "-", " " }}</h1>
    </div>
  </div>
  <div class="row datum-row cat-about">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col"></div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <div class="artifact count-deet">
        There {% if filtered_artifacts.size > 1 %}are{% else %}is{% endif %} {{ filtered_artifacts.size }} artifact{% if
        filtered_artifacts.size > 1 %}s{% endif %} in the archive tagged Discipline: {{ page.name | capitalize | replace: "-", " "
        }}.
      </div>
    </div>
  </div>
</div>

<div class="outer-container cat-artifacts">
  <div class="container-md">
    <div class="row datum-section cat-artifacts">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <h3 class="title datum-title cat-artifacts">
          Artifacts<span class="artifact count">[{{ filtered_artifacts.size }}]</span>
        </h3>
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-lg-9 datum-right-col">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 artifacts-section artifacts-gutters">
          {% for artifact in sorted_filtered_artifacts %}
          <div class="col">{% include a-modules/a-module-au-y.html %}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
