---
---

{% include header-odf.html %}

<div class="container container-cat">

    <div class="row">

      <div class="col-12">

          {% assign filtered_artifacts = site.artifacts | where: 'formats', page.name %}
          {% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
          <h3 class="cat-label format">Format</h3>
          <h2 class="title origin self capitalize">{{ page.name | replace: "-", " " }}</h2>
          <div class="artifact-count-deet">There are {{ filtered_artifacts.size }} artifacts tagged format: {{ page.name }}.</div>
      </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row artifacts-section">

                  {% for artifact in sorted_filtered_artifacts %}

                  <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                  {% include a-module-au-y.html %}
                  </div>

                  {% endfor %}

    </div>

</div>


{% include footer.html %}
