---
layout: default
---


<div class="container container-cat last-before-footer">

    <div class="row">

      <div class="col-12">

          <h3 class="cat-label origin">Origin</h3>
          <h2 class="title origin self capitalize">{{ page.name | replace: "-", " " }}</h2>


      </div>

    </div>

    <div class="row section artifacts-section">

        <div class="col-12">

            {% assign filtered_artifacts = site.artifacts | where: 'origin', page.name %}
            <h3 class="section-title">Artifacts <span class="artifact-count">({{ filtered_artifacts.size }})</span></h3>

        </div>


                  {% for artifact in filtered_artifacts %}

                  <div class="col-12 col-md-6 col-lg-4">
                  {% include a-module.html %}
                  </div>

                  {% endfor %}

    </div>


    </div>

</div>

{% include footer.html %}
