---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% assign origin_words = page.name | split: '-' %}

{% capture name_all_capitalised %}
  {% for word in origin_words %}
    {{ word | capitalize }}
  {% endfor %}{% endcapture %}
{{ titlecase }}

{% assign corrected_page_name = page.name | replace: "-", " " %}
{% assign capitalised_page_name = corrected_page_name | capitalize %}
{% capture description %}Browse artifacts tagged «{{ page.name | replace: "-", " " }}»  at the Sol Design Archive.{% endcapture %}

{% include head-and-header.html page-meta-title=name_all_capitalised page-meta-url=page.url page-meta-description=description page-meta-image=layout.image %}

<div class="container container-cat simple">

    <div class="row">

      <div class="col-12">
        {% assign filtered_artifacts = site.artifacts | where: 'origin', page.name %}
        {% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
        
        <h2 class="title origin self capitalize">{{ page.name | replace: "-", " " }}</h2>
        <h3 class="cat-label origin">Origin</h3>
        <div class="artifact-count-deet">There are {{ filtered_artifacts.size }} artifacts in the archive from {{ page.name }}.</div>

      </div> 

    </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row artifacts-section">

                  {% for artifact in sorted_filtered_artifacts %}

                  <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                  {% include a-modules/a-module-au-y.html %}
                  </div>

                  {% endfor %}

    </div>

</div>

{% include footer.html %}
{% include the-end.html %}
