---
---

{% include head-and-header.html page-meta-title=page.title page-meta-description=page.lead page-meta-image=page.image
page-meta-url=page.url page-meta-url=page.url page-meta-twitter-author=page.author_twitter %}

{% include post-head.html %}

<div class="container-md post-body" data-pagefind-body>
  <div class="row datum-section post-body">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col"></div>
    <div class="col-12 col-sm-9 col-lg-8 col-xl-7">
      <section class="post-text">{{ page.content }}</section>
      <!-- {% include share-sheet.html %} -->
    </div>
  </div>
</div>

{% if page.related_authors or page.related_publishers or page.related_tags %}
{% include related-post.html %}
{% endif %}

{% include prev-next-blog.html %}
  <!--  -->
  {% include footer.html %}
  <!--  -->
  {% include the-end.html %}
</div>
