---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% capture description %}{{ page.name }} at the Sol Design Archive.{% endcapture %}
<!--  -->
{% include head-and-header.html page-meta-title=page.name page-meta-description=description page-meta-url=page.url
page-meta-image=layout.image %}

<!--  -->
{% assign filtered_artifacts = site.artifacts | where: 'publisher', page.title %} {% assign sorted_filtered_artifacts =
filtered_artifacts | sort: "year" %} {% if page.hero_image %}
<div class="wide-post-img first-after-header">
  <div class="row">
    <div class="col-12">
      <img class="grid-img" src="/images/non-art/{{ page.hero_image }}" alt="" />
    </div>
  </div>
</div>
{% endif %}

<div class="container-md container-author {% unless page.hero_image %}first-after-header{% endunless %}">
  <div class="row datum-section title">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <h3 class="cat-label author">Publisher/Client</h3>
    </div>
    <div class="col-12 col-sm-9 datum-right-col">
      <h2 class="title artifact self datum">{{ page.title }}</h2>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="row datum-section about">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <h3 class="title datum-title about">About</h3>
    </div>

    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <section class="about-text">
        There {% if filtered_artifacts.size > 1 %}are{% else %}is{% endif %} {{ filtered_artifacts.size }} artifact{% if
        filtered_artifacts.size > 1 %}s{% endif %} in the archive published/commissioned by {{ page.title | replace:
        "-", " " }}. {{ content }}
      </section>
    </div>
  </div>

  <!-- TIMELINE -->
  {% if page.timeline_count %}
  <div class="row datum-section timeline">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <h3 class="title datum-title about">Timeline</h3>
    </div>
    <div class="col-12 col-sm-9 datum-right-col"></div>
  </div>
  {% assign timeline_count = page.timeline_count %}
  <!--  -->
  {% for timeline_element in (0..timeline_count) %}

  <div class="datum-row timeline-row row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <span class="deet-label timeline-key">{{ page.timeline_keys[timeline_element] }}</span>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col timeline-value">
      {{ page.timeline_values[timeline_element] }}
    </div>
  </div>
  {% endfor %} {% endif %}

  <!-- SOURCES -->
  {% if page.sources_count %} {% assign sources_count = page.sources_count %}
  <div class="row datum-section sources">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <h3 class="title datum-title sources">Sources</h3>
    </div>
    <div class="col-12 col-sm-9 datum-right-col">
      <ol class="footnotes sources">
        {% for sources_element in (0..sources_count) %}
        <li>
          <a class="fn-link" href="{{ page.sources_links[sources_element] }}"
            >{{ page.sources_titles[sources_element] }}</a
          >
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endif %}

  <!-- RESOURCES -->
  {% assign filtered_resources = site.data.resources | where: 'rel_publishers', page.title %} {% assign
  filtered_resources_size = filtered_resources | size %} {% if filtered_resources_size > 0 %} {% include
  resources-section.html %} {% endif %}

  <!-- RELATED -->
  {% if page.related_authors or page.related_publishers or page.related_tags %}
  <div class="row datum-section related">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <h3 class="title datum-title about">Related</h3>
    </div>
    <div class="col-12 col-sm-9 datum-right-col"></div>
  </div>

  <!-- authors, RELATED -->
  {% if page.related_authors %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <span class="related-label author">Authors</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_author in page.related_authors %}
      <a href="/authors/{{ related_author | escape_once }}" class="related-link author">{{ related_author }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- publishers, RELATED -->
  {% if page.related_publishers %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <span class="related-label publisher">Publishers/Clients</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_publisher in page.related_publishers %}
      <a href="/publishers/{{ related_publisher | escape_once }}" class="related-link publisher"
        >{{ related_publisher }}</a
      >
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- tags, RELATED -->
  {% if page.related_tags %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
      <span class="related-label tag">Tags</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_tag in page.related_tags %}
      <a href="/tags/{{ related_tag | escape_once }}" class="related-link tag">{{ related_tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endif %}
</div>

<div class="outer-container cat-artifacts">
  <div class="container-md">
    <div class="row datum-section cat-artifacts">
      <div class="col-12 col-sm-3 col-md-2 col-lg-3 datum-left-col">
        <h3 class="title datum-title cat-artifacts">
          Artifacts <br />
          <span class="artifact count">[{{ sorted_filtered_artifacts.size }}]</span>
        </h3>
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-lg-9 datum-right-col">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artifacts-section">
          {% for artifact in sorted_filtered_artifacts %}

          <div class="col">{% include a-modules/a-module-au-y.html %}</div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
