---
---

{% include header.html %}

<div class="container container-author">

    <div class="row">

      <div class="col-12">

          <h3 class="cat-label publisher">Publisher/Client</h3>
          <h2 class="title publisher self">{{ page.name }}</h2>


      </div>

    </div>

    {% assign striped_content = page.content | strip_newlines %}
        {% if striped_content != "" %}

    <div class="row section about first">



            <div class="col-12 col-md-9 col-lg-8">



            <h3 class="section-title">About</h3>
            <section class="hero-about-text">{{ content }}</section>

            </div>
    </div>

      {% endif %}

    </div>

</div>

<div class="container-fluid cat-artifacts-title">
    <div class="container">
      <div class="row author-artifacts">
  
        <div class="col-12">
  
          {% assign filtered_artifacts = site.artifacts | where: 'publisher', page.name %}
          {% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
          <h3 class="section-title">Artifacts <span class="artifact-count">({{ sorted_filtered_artifacts.size }})</span></h3>
  
        </div>

        {% for artifact in filtered_artifacts %}

        <div class="col-12 col-md-6 col-lg-4">
        {% include a-module.html %}
        </div>

        {% endfor %}
  
      </div>
    </div>
  </div>

{% include footer.html %}
