---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% assign processed_title = page.name | replace: "-barra-", "/" %} {% capture description %}Browse artefacts
published/commissioned by {{ processed_title }} at Sol Design Archive.{% endcapture %}
<!--  -->
{% include head-and-header.html page-meta-title=processed_title page-meta-description=description page-meta-url=page.url
page-meta-image=layout.image %} {% assign pub_artefacts = site.artefacts | where: 'published', true %} {% assign
filtered_artefacts = pub_artefacts | where: 'publisher', processed_title %} {% assign sorted_filtered_artefacts =
filtered_artefacts | sort: "year" %} {% if page.hero_image %}
<div class="wide-post-img first-after-header">
  <div class="row">
    <div class="col-12">
      <img class="grid-img" src="/images/non-art/hero-{{ page.name | replace: ' ', '-' }}.jpg" alt="" />
    </div>
  </div>
</div>
{% endif %}

<div
  class="container-fluid container-author {% unless page.hero_image %}first-after-header{% endunless %}"
  data-pagefind-body>
  <div class="row datum-section title">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="cat-label publisher">Publisher/Client</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-8 col-xl-7 datum-right-col">
      <h1 class="title artefact self datum" data-pagefind-meta="title">{{ page.name }}</h1>
    </div>
  </div>

  <!-- ABOUT -->
  {% assign test_content = content | strip_newlines %} {% if test_content != "" %}
  <div class="row datum-row cat-about">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">About</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <section class="about-text">{{ content }}</section>
    </div>
  </div>
  {% endif %} {% if page.timeline_count %}
  <!-- TIMELINE -->
  <div class="row datum-section timeline">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">Timeline</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col"></div>
  </div>
  {% assign timeline_count = page.timeline_count %}
  <!--  -->
  {% for timeline_element in (0..timeline_count) %}

  <div class="datum-row timeline-row row">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="deet-label timeline-key">{{ page.timeline_keys[timeline_element] }}</span>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col timeline-value">
      {{ page.timeline_values[timeline_element] }}
    </div>
  </div>
  {% endfor %} {% endif %} {% if page.sources %}
  <div class="row datum-section sources top-border">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title sources">Sources</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <ol class="footnotes sources">
        {% for source in page.sources %}
        <li>
          <a class="fn-link" href="{{ source[0] }}">{{ source[1] }}</a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endif %}

  <!-- RESOURCES -->
  {% assign filtered_resources = site.data.resources | where: 'rel_publishers', page.name %} {% assign
  filtered_resources_size = filtered_resources | size %} {% if filtered_resources_size > 0 %} {% include
  resources-section.html %} {% endif %}

  <!-- RELATED -->

  {%- if page.rel_authors or page.rel_publishers or page.rel_tags != null -%} {%- assign at_least_one_rel = true -%} {%-
  else -%} {%- assign at_least_one_rel = false -%} {%- endif -%} {% if at_least_one_rel == true %}
  <div class="row datum-section related">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">Related</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col"></div>
  </div>

  <!-- authors, RELATED -->
  {% unless page.related_authors == null %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label author">Authors</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_author in page.related_authors %}
      <a href="/authors/{{ related_author | escape_once }}" class="related-link author">{{ related_author }}</a>
      {% endfor %}
    </div>
  </div>
  {% endunless %}

  <!-- publishers, RELATED -->
  {% unless page.related_publishers == null %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label publisher">Publishers/Clients</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_publisher in page.related_publishers %}
      <a href="/publishers/{{ related_publisher | escape_once }}" class="related-link publisher"
        >{{ related_publisher }}</a
      >
      {% endfor %}
    </div>
  </div>
  {% endunless %}

  <!-- tags, RELATED -->
  {% unless page.related_tags == null %}
  <div class="datum-row row">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <span class="related-label tag">Tags</span>
    </div>

    <div class="col-12 col-sm-9 col-md-10 col-lg-8 datum-right-col related-links">
      {% for related_tag in page.related_tags %}
      <a href="/tags/{{ related_tag | escape_once }}" class="related-link tag">{{ related_tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endunless %} {% endif %}
</div>

<!-- artefacts -->
<div class="container-fluid cat artefacts">
  <div class="row datum-section cat-artefacts">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title cat-artefacts">
        Artefacts <br />
        <span class="artefact-count">[{{ sorted_filtered_artefacts.size }}]</span>
      </h3>
    </div>
    <div class="col-12 col-sm-9 col-md-10 col-lg-9 datum-right-col">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artefacts-gutters">
        {% for artefact in sorted_filtered_artefacts %}

        <div class="col">{% include a-modules/a-module-au-y.html %}</div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
