---
layout: default
---

<div class="container container-post-head">

  <div class="row section post-head">

    <div class="col-12">

        <h3 class="cat-label post">Short</h3>
        <h2 class="title blog self">
            <a href="{{ post.url }}">{{ page.title }}</a>
        </h2>

    </div>

    <div class="col-12 col-lg-8">

        <p class="post-lead self">
            {{ page.lead }}
        </p>

        <p class="post-meta self">


            {{ page.author }} <br>
            {{ page.date | date_to_string }}

        </p>

    </div>
  </div>
</div>

<div class="container-fluid wide-post-img">
  <div class="row">
    <div class="col-12">

        <img class="grid-img" src="{{ page.thumbnail_image_path }}" alt="">

    </div>
  </div>
</div>

<div class="container container-post">
  <div class="row section post-body">
    <div class="col-12 col-lg-8">

        <section class="post-text">
          {{ page.content }}
          <a href="{{ page.feature-link }}">{{ page.title }}</a>

        </section>

    </div>

  </div>


</div>
