---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

<!--  -->
{% capture description %}Browse artifacts tagged «{{ page.title | capitalize }}» at the Sol Design Archive.{% endcapture
%} {% include head-and-header.html page-meta-title=processed_title page-meta-url=page.url
page-meta-description=description page-meta-image=layout.image %} {% assign striped_content = page.content |
strip_newlines %}

<!--  -->
{% assign filtered_artifacts = site.artifacts | where: 'tags', page.title %}
<!--  -->
{% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
<!--  -->

{% if page.hero_image %}
<div class="wide-post-img first-after-header" data-pagefind-body>
  <div class="row">
    <div class="col-12">
      <img class="grid-img" src="/images/non-art/hero-{{ page.title | replace: ' ', '-' }}.jpg" alt="" />
    </div>
  </div>
</div>
{% endif %}

<div class="container-md container-cat simple {% unless page.hero_image %}first-after-header{% endunless %}">
  <div class="row datum-section title">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="cat-label origin">Tag/ <span class="subtag capitalize"> {{ page.type | replace: '_', ' ' }}</span></h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <h1 class="title artifact self datum" data-pagefind-meta="title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="row datum-row cat-about">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title about">About</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <div class="artifact count-deet">
        <section class="about-text">
          <p>
            There {% if filtered_artifacts.size > 1 %}are{% else %}is{% endif %} {{ filtered_artifacts.size }}
            artifact{% if filtered_artifacts.size > 1 %}s{% endif %} in the archive tagged {{ page.type | capitalize |
            replace: '_', ' ' }}: {{ page.title }}.
          </p>
          {{ content }}
        </section>
      </div>
    </div>
  </div>
  <!-- SOURCES -->
  {% if page.sources_count %} {% assign sources_count = page.sources_count %}
  <div class="row datum-section sources">
    <div class="col-12 col-sm-3 col-md-2 datum-left-col">
      <h3 class="title datum-title sources">Sources</h3>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6 datum-right-col">
      <ol class="footnotes sources">
        {% for sources_element in (0..sources_count) %}
        <li>
          <a class="fn-link" href="{{ page.sources_links[sources_element] }}"
            >{{ page.sources_titles[sources_element] }}</a
          >
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  {% endif %}
</div>

<div class="outer-container cat-artifacts">
  <div class="container-md">
    <div class="row datum-section cat-artifacts">
      <div class="col-12 col-sm-3 col-md-2 datum-left-col">
        <h3 class="title datum-title about">
          Artifacts
          <span class="artifact count">[{{ sorted_filtered_artifacts.size }}]</span>
        </h3>
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-lg-9 datum-right-col">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 artifacts-gutters">
          {% for artifact in sorted_filtered_artifacts %}
          <div class="col">{% include a-modules/a-module-au-y.html %}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} {% include the-end.html %}
