---
layout: default
---


<div class="container container-author">
    
    <div class="row">
        
        <div class="col-12 col-md-9 order-md-1">
            <span class="page-title-label">tag</span>
            <h2 class="title tag self">{{ page.name }}</h2>
                    
        </div>
        
    </div>
    
    <div class="row artifacts-section">    
       
        <div class="col-12">
            
            <h3 class="page-sub-title">Artifacts</h3>
            
        </div>       
                             
                {% assign filtered_artifacts = site.artifacts | where: 'tags', page.name %}
                  {% for artifact in filtered_artifacts %}
                  
        <div class="col-12 col-md-6 col-lg-4">
                   
                    <a class="prev-next-link artifact" href="{{ artifact.url }}">
                        <h2 class="title artifact">{{ artifact.title }}</h2>
                        <img class="prev-next-img" src="{{ artifact.thumbnail_image_path }}" alt="">
                    </a>
        </div>
                  {% endfor %}
            
    </div>
        
        
    </div>
    
</div>