---
image: "/images/non-art/sol-branding-comp-1.jpg"
---

{% capture description %}Browse artifacts tagged «{{ page.title }}» at the Sol Design Archive.{% endcapture %}

{% include head-and-header.html page-meta-title=page.title page-meta-url=page.url page-meta-description=description page-meta-image=layout.image %}

<div class="container container-cat rich">

    <div class="row">

      <div class="col-12">

          <h3 class="cat-label tag">Tag: <span class="subtag"> {{ page.type | capitalize }}</span></h3>
          <h2 class="title tag self">{{ page.title }}</h2>


      </div>

    </div>


    {% assign striped_content = page.content | strip_newlines %}
        {% if striped_content != "" %}

    <div class="row section about first">



            <div class="col-12 col-md-9 col-lg-8">



            <h3 class="section-title">About</h3>
            <section class="hero-about-text">{{ content }}</section>

            </div>
    </div>

      {% endif %}
    </div>

    <div class="container-fluid cat-artifacts-title">
      <div class="container">
        <div class="row author-artifacts">
    
          <div class="col-12">
    
            {% assign filtered_artifacts = site.artifacts | where: 'tags', page.title %}
            {% assign sorted_filtered_artifacts = filtered_artifacts | sort: "year" %}
            <h3 class="section-title">Artifacts <span class="artifact-count">({{ sorted_filtered_artifacts.size }})</span></h3>
    
          </div>
    
        </div>
      </div>
    </div>
    
      <div class="container-fluid cat-artifacts">
              <div class="row author-artifacts">
    
            {% for artifact in sorted_filtered_artifacts %}
    
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            {% include a-modules/a-module-y.html %}
            </div>
    
            {% endfor %}
    
        </div>
      </div>

      <div class="container">

    {% assign filtered_resources = site.data.resources | where: 'rel_tags', page.title %}
    {% assign filtered_resources_size = filtered_resources | size %}
    {% if filtered_resources_size > 0 %}
    <div class="row section author-resources">

      <div class="col-12 col-md-9 col-lg-8 col-xl-6">
        {% include resources-section.html %}
      </div>
    
    </div>
    {% endif %}


  </div>



{% include footer.html %}
{% include the-end.html %}
